<!--
  Generated template for the GiftCardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      <strong>
        <span ion-text color="dark"> {{ "GIFT_CARD.TITLE" | translate }}</span>
      </strong>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only ion-text color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen background>
  <ion-grid *ngIf="!displaySuccessMessage">
    <ion-row>
      <ion-col col-12 text-center>
        <ion-list transparent-items>

          <!-- Mosaic -->
          <ion-card>
            <ion-item>
              <ion-avatar item-start>
                <img [src]="utils.getLogo(mosaicsHex)">
              </ion-avatar>
              <p text-uppercase ion-text color="dark" *ngIf="!nameMosaic">
                {{ mosaicsHex }}</p>
              <p text-uppercase ion-text color="dark" *ngIf="nameMosaic">
                {{ nameMosaic }}</p>
              <section item-right>
                <h2 style="padding-top: 9px !important;"> {{ amountFormatter }}</h2>
              </section>
            </ion-item>
          </ion-card>

          <!-- To -->
          <h6 margin-left text-left ion-text color="dark">
            {{"WALLETS.SEND.LABEL.TO" | translate}}
          </h6>
          <ion-card>
            <!-- NO TRANSFERIBLE-->
            <ion-item *ngIf="!showTransferable">
              <img item-left logo-small [src]="App.USER">
              <p small ion-text color="dark" *ngIf="addressDetination">
                {{ addressDetination.pretty() }} 
              </p>
              <ion-spinner name="crescent" *ngIf="loading" style="padding-right: 228px !important;"></ion-spinner>
            </ion-item>

            <!-- TRANSFERIBLE -->
            <ion-item select-contact no-lines *ngIf="showTransferable">
              <ion-label ion-text color="dark"></ion-label>
              <ion-select [selectOptions]="{title: 'WALLETS.SEND.ADDRESS.OPTION.TITLE' | translate, subTitle: ''}"
                [(ngModel)]="addressSourceType.to" [ngModelOptions]="{standalone: true}"
                (ionChange)="onChangeTo($event)">
                <ion-option value="manual">{{"WALLETS.SEND.ADDRESS.OPTION1" | translate}}</ion-option>
                <ion-option value="contact">{{"WALLETS.SEND.ADDRESS.OPTION2" | translate}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>

          <!-- SELECTED CONTACS -->
          <ion-card *ngIf="addressSourceType.to === 'contact'" (click)="selectContact('to')">
            <ion-item>
              <img item-left logo-small [src]="App.USER">
              <h2 ion-text color="dark">
                {{ form.get('recipientName').value || "WALLETS.SEND.ADDRESS.OPTION2" | translate }}
              </h2>
              <p small ion-text color="dark">
                {{ form.get('recipientAddress').value || '' }}</p>
            </ion-item>
          </ion-card>

          <!-- INPUT FORM RECIPIENT ADDRESS -->
          <form [formGroup]="form">
            <ion-card no-margin-bottom *ngIf="addressSourceType.to === 'manual' && showTransferable">
              <ion-item>
                <ion-input formControlName="recipientAddress" type="text" value=""
                  placeholder="{{'WALLETS.SEND.ADDRESS' | translate}}"></ion-input>
                <button clear item-right ion-button icon-only (click)="scan()">
                  <ion-icon color="white" name="custom-qrcode"></ion-icon>
                </button>
              </ion-item>
            </ion-card>
            <div *ngIf="msgErrorUnsupported !== ''">
              <strong style="color:red;padding-right: 17rem;">{{msgErrorUnsupported}}</strong>
            </div>

            <!-- Description -->
            <h6 margin-left text-left ion-text color="dark">
              {{"SERVICES.GIFT_CARD.CARD.DESC" | translate}}
            </h6>
            <ion-card no-margin-bottom>
              <ion-item>
                <ion-textarea ion-text color="dark" autosize rows="2"  ion-text color="dark" formControlName="idenficatorUser"
            placeholder="{{'WALLETS.GIFT_CARD.DESC.PLACEHOLDER' | translate}}"></ion-textarea>
        </ion-item>

        <div *ngIf="form.controls.idenficatorUser.value.length > 10" >
          <p error padding-left text-left  style="color: #e06e36 !important; margin-top: -4px!important;"  >
            <strong>{{ (error.passwordMin ? ('APP.SIGNUP.PASSWORD_MAX.MESSAGEE' | translate: {Max: characterMax }) :'') }}</strong>
          </p>
        </div>
                <!-- <ion-input formControlName="idenficatorUser" type="text" value=""
                  placeholder="{{'WALLETS.SEND.ADDRESS.OPTION1' | translate}}"></ion-input>
              </ion-item> -->
            </ion-card>
          </form>


          <!-- CARD NUMBER -->
          <h6 margin-left text-left ion-text color="dark">
            {{"SERVICES.GIFT_CARD.CARD.ID" | translate}}
          </h6>
          <ion-card>
            <ion-item>
              <p ion-text text-wrap color="dark">
                <span>
                  {{ dataGif[0].codeGift }}
                </span>
              </p>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>

      <ion-col col-12 text-center>
        <ion-col buttons col-12 text-center>
          <button gradient-button ion-button color-5 type="submit" color="dark"
            [disabled]="block || msgErrorUnsupported || dataGif[0].typeGif === '1' && form.controls.recipientAddress.value === '' || form.controls.idenficatorUser.invalid"
            (click)="onSubmit()">
            {{"WALLETS.BUTTON.CONFIRM" | translate}}
            <ion-spinner color="white" *ngIf="block" style="padding-right: 38px !important;"></ion-spinner>
          </button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding *ngIf="displaySuccessMessage" class="achievement-container">
    <div class="medal">
      <img class="image" src="assets/imgs/success.svg" />
    </div>
    <div padding class="message">
      <h5 text-center>{{"APP.MESSAGE.SUCCESS.TITLE" | translate}}</h5>
      <p text-center>{{"APP.MESSAGE.SUCCESS.SUBTITLE" | translate}}</p>
    </div>
  </div>
</ion-content>