page-gift-cards {
    .background-white {
        background: #f3f3f3 !important;
      }
    
      ion-content {
        position: none;
         background-color: white !important; 
        font-family: 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        height: 100%;
        width: 100%;
    }
}

  