/*
    Flaticon icon font: Flaticon
    Creation date: 20/07/2018 06:58
    */

@font-face {
  font-family: 'Flaticon';
  src: url('../assets/fonts/Flaticon.eot');
  src: url('../assets/fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Flaticon.woff') format('woff'),
    url('../assets/fonts/Flaticon.ttf') format('truetype'),
    url('../assets/fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('../assets/fonts/Flaticon.svg#Flaticon') format('svg');
  }
}

[class^='fi-'],
[class*='fi-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Flaticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .fi-#{$arg}:before,
  .ion-ios-fi-#{$arg}:before,
  .ion-ios-fi-#{$arg}-outline:before,
  .ion-md-fi-#{$arg}:before,
  .ion-md-fi-#{$arg}-outline:before {
    content: $val;
    font-size: 24px;
    display: inline-block;
  }
}

@include makeIcon(wallet, '\f107');
@include makeIcon(notification, '\f101');
@include makeIcon(contact, '\f102');
@include makeIcon(services, '\f10d');
@include makeIcon(settings, '\f100');
@include makeIcon(send, '\f10c');
@include makeIcon(recieve, '\f10b');
@include makeIcon(continue, '\f108');
@include makeIcon(edit, '\f10a');

