page-wallet-update {


    .color-palette {
        display: flex;
        justify-content: center;
    }

    .color-box {
        width: 60px;
    }

    /* Button style */
    @mixin button-styles {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border: none;
        border-radius: 7px;
        padding: 18px 18px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0 0 4px #999;
        outline: none;
        background-position: center;
        transition: background 0.8s;
    }

    button[one] {
        @include button-styles();
        background-color: #da4d59;

        &:hover {
            background: #da4d59 radial-gradient(circle, transparent 1%, #da4d59 1%) center/15000%;
        }
    
        &:active {
            background-color: lighten(#da4d59, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }
    button[two] {
        @include button-styles();
        background-color: #5C9EBB;

        &:hover {
            background: #5C9EBB radial-gradient(circle, transparent 1%, #5C9EBB 1%) center/15000%;
        }
    
        &:active {
            background-color: lighten(#5C9EBB, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }
    button[three] {
        @include button-styles();
        background-color: #F2962F;
        &:hover {
            background: #F2962F radial-gradient(circle, transparent 1%, #F2962F 1%) center/15000%;
        }
    
        &:active {
            background-color: lighten(#F2962F, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }
    button[four] {
        @include button-styles();
        background-color: #00A48B;
        &:hover {
            background: #00A48B radial-gradient(circle, transparent 1%, #00A48B 1%) center/15000%;
        }
    
        &:active {
            background-color: lighten(#00A48B, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }
    button[five] {
      @include button-styles();
      background-color: #ff5575;

      &:hover {
        background: #ff5575 radial-gradient(circle, transparent 1%, #ff5575 1%) center/15000%;
      }

      &:active {
        background-color: lighten(#ff5575, 10%);
        background-size: 100%;
        transition: background 0s;
      }
    }

    button[six] {
      @include button-styles();
      background-color: #268ff7;

      &:hover {
        background: #268ff7 radial-gradient(circle, transparent 1%, #268ff7 1%) center/15000%;
      }

      &:active {
        background-color: lighten(#268ff7, 10%);
        background-size: 100%;
        transition: background 0s;
      }
    }

    button[seven] {
      @include button-styles();
      background-color: #2bd173;

      &:hover {
        background: #2bd173 radial-gradient(circle, transparent 1%, #2bd173 1%) center/15000%;
      }

      &:active {
        background-color: lighten(#2bd173, 10%);
        background-size: 100%;
        transition: background 0s;
      }
    }

    button[eight] {
      @include button-styles();
      background-color: #f1b23c;

      &:hover {
        background: #f1b23c radial-gradient(circle, transparent 1%, #f1b23c 1%) center/15000%;
      }

      &:active {
        background-color: lighten(#f1b23c, 10%);
        background-size: 100%;
        transition: background 0s;
      }
    }


}
