<ion-header toolbar-background>
    <ion-toolbar color="transparent">
      <ion-buttons slot="start" white>
        <ion-back-button defaultHref="/wallet-detail"></ion-back-button>
      </ion-buttons>
      <ion-title><img src="assets/imgs/shell-proximax-white.svg" icon-add ></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-col size="12" white text-center>
              <h3 >Transaction Info</h3>
              <ion-card>
                <ion-item>
                  <ion-icon src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                  <ion-label>
                    XPX <br>
                      <p>Proximax</p>
                  </ion-label>
                  <ion-label slot="end">
                      0.0087s XPX  
                  </ion-label>
                </ion-item>
              </ion-card>
    
              <ion-card background-yellow>
                <ion-card-content white>
                  <strong> Wallet 1</strong>
                </ion-card-content>
              </ion-card>
              <span white>SDNVVHWC5ZS52JD6CJYSKCQNCORDHGLUVKLUJPH3</span>
            </ion-col>
          </ion-row>

    </ion-grid>
</ion-content>
