<ion-header toolbar-background>
  <ion-toolbar color="transparent" [class.show-background]="showToolbar">
    <ion-buttons slot="start" white>
      <ion-back-button defaultHref="/service"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">
      <img src="assets/imgs/shield-proximax-white.svg" icon-add [routerLink]="['/wallets']" routerDirection="root">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="icon-only" src="assets/imgs/user-account-white.png" [routerLink]="['/account']" routerDirection="root">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form>
      <ion-row>
        <ion-col size="12" text-center>
          <h3 white>Multisign Support</h3>
        </ion-col>
        <ion-col size="12">

          <!-- <ion-card background-white>
            <ion-card-content>
                <strong style="color:#052733 !important">Right now, the following are supported by the app: </strong>
                <ul style="color:#052733 !important">
                    <li>Sending multisign transactions</li>
                    <li>Signing multisign transaction </li>
                    <li>Viewing the history of multisign transactions.</li>
                  </ul>
            </ion-card-content>
          </ion-card> -->

          <ion-card background-white>
              <ion-card-content>
                  <strong style="color:#052733 !important">The following will be supported in a future release of the app: </strong>
                  <ul style="color:#052733 !important">
                      <li>Sending multisign transactions</li>
                      <li>Signing multisign transaction </li>
                      <li>Viewing the history of multisign transactions.</li>
                    </ul>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>