<ion-menu-button white class="ios button ion-activatable hydrated"></ion-menu-button>

<ion-content>
  <ion-grid>
    <img src="assets/imgs/shield-proximax-white.svg" icon>
    <form >
      <ion-row>
        <ion-col size="12">
          <h3 white text-center>Accounts</h3>
          <ion-card class="{{item.style}}" *ngFor="let item of accounts" (click)="openWallet(item)">
            <div imagenClass>
                <img src="assets/imgs/shield-background-cards.svg" style="width:30%">
              </div>
          <ion-card-content >

            <h3 white><strong>{{item.name}}</strong></h3>
            <span  white>{{item.address}}</span>
          </ion-card-content>
        </ion-card>

        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>