<!--
  Generated template for the SendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="black">{{"WALLETS.SEND" | translate}}</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="black">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content background padding>
  <ion-list transparent-items>


    <form [formGroup]="form">

      <!-- Price -->
      <section title text-center>
        <h2 price ion-text color="black" *ngIf="selectedCoin">
            {{'WALLETS.SEND.AMOUNT' | translate}}</h2>
      </section>


      <!-- Amount -->
      <ion-card amount *ngIf="platform.is('ios')">
        <ion-item>
          <ion-label>
            <!-- <input type="text" pattern="[0-9]*" decimal="true"  button-char="." decimal-char="." formControlName="amount" [(ngModel)]="amount"  [placeholder]="amountPlaceholder" (click)="clearPlaceholder()" (keypress)="checkAllowedInput($event)" (input)="validateInput()"/> -->
            <input pattern="^[+]?([0-9]*[.])?[0-9]+$" [placeholder]="amountPlaceholder" formControlName="amount" [(ngModel)]="amount" currencyMask [options]="optionsXPX" (click)="clearPlaceholder()" (keypress)="checkAllowedInput($event)"/>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-card amount *ngIf="platform.is('android')">
          <ion-item>
            <ion-label>
              <!-- <input type="number" pattern="\\d*" formControlName="amount" [(ngModel)]="amount" -->
                <!-- [placeholder]="amountPlaceholder" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (click)="clearPlaceholder()" (keypress)="checkAllowedInput($event)" (input)="validateInput()"/> -->
                <input pattern="^[+]?([0-9]*[.])?[0-9]+$" [placeholder]="amountPlaceholder" formControlName="amount" [(ngModel)]="amount" currencyMask [options]="optionsXPX" (click)="clearPlaceholder()" (keypress)="checkAllowedInput($event)"/>
              </ion-label>
          </ion-item>
        </ion-card>

      <section total text-center>
        <h2 price ion-text color="black" *ngIf="selectedCoin">
          ≈ {{ selectedCoin?.market_data.current_price.usd * amount  | currency: 'USD': 'symbol': '1.2-6' }}</h2>
          <div *ngIf="msgErrorBalance !== ''">
                <strong style="color:red;padding-left: 2rem;">{{msgErrorBalance}}</strong>
            </div>
        </section>
      

      <!-- Mosaic -->
      <!-- (click)="selectMosaic()" -->
      <ion-card no-margin-bottom *ngIf="mosaics" (click)="selectMosaic()">
        <ion-item mosaic>
          <ion-avatar item-start>
            <img [src]="utils.getLogo(mosaics)">
          </ion-avatar>
          <h2 text-uppercase ion-text color="black" >{{ mosaics.mosaicId }}</h2>
          <p text-uppercase ion-text color="black">{{ mosaics.namespaceId }}</p>

          <section item-right>
            <!-- <h2 ion-text color="black">{{ mosaics?.amount | number:'1.2' }}</h2> -->
            <h2 ion-text color="black">{{  mosaics?.amount }}</h2>
            <p text-right text-left ion-text color="black">
              <small>
                {{  selectedCoin?.market_data.current_price.usd * mosaics?.amount | currency: 'USD': 'symbol': '1.2-6' }}
              </small>
            </p>
          </section>
        </ion-item>
      </ion-card>
      
      <ion-card no-margin-bottom fake-card *ngIf="!mosaics">
        <ion-item text-center>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-card>

      <!-- Recipient -->

      <ion-item select-contact no-lines>
        <ion-label ion-text color="black"></ion-label>
        <ion-select [selectOptions]="{
    title: 'WALLETS.SEND.ADDRESS.OPTION.TITLE' | translate,
    subTitle: ''        
  }" [(ngModel)]="addressSourceType.to" [ngModelOptions]="{standalone: true}" (ionChange)="onChangeTo($event)">
          <ion-option value="manual">{{"WALLETS.SEND.ADDRESS.OPTION1" | translate}}</ion-option>
          <!-- <ion-option value="qrcode">Scan QR code</ion-option> -->
          <ion-option value="contact">{{"WALLETS.SEND.ADDRESS.OPTION2" | translate}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-card *ngIf="addressSourceType.to === 'contact'" (click)="selectContact('to')">
        <ion-item>
          <img item-left logo-small [src]="App.USER">
          <h2 ion-text color="black">{{ form.get('recipientName').value || "WALLETS.SEND.ADDRESS.OPTION2" | translate }}</h2>
          <p small ion-text color="black">
            {{ form.get('recipientAddress').value || '' }}</p>
        </ion-item>
      </ion-card>

      <ion-card no-margin-bottom *ngIf="addressSourceType.to === 'manual'">
        <ion-item>
          <ion-input formControlName="recipientAddress" type="text" value=""
            placeholder="{{'WALLETS.SEND.ADDRESS' | translate}}"></ion-input>
          <button clear item-right ion-button icon-only (click)="scan()">
            <ion-icon color="white" name="ios-barcode-outline"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
      <div *ngIf="msgErrorUnsupported !== ''">
          <!-- <p error padding-left text-left color="danger" *ngFor="let error of formGroup.errors"> -->
            <strong style="color:red;padding-left: 2rem;">{{msgErrorUnsupported}}</strong>
          <!-- </p> -->
        </div>

      <!-- Note -->
      <ion-card>
        <ion-item no-border>
          <ion-textarea ion-text color="black" autosize rows="2" ion-text color="black" formControlName="message"
            placeholder="{{'WALLETS.SEND.NOTES' | translate}}"></ion-textarea>
        </ion-item>
      </ion-card>

    </form>

  </ion-list>

  <section text-center>
    <button gradient-button half color-6 ion-button icon-end no-margin [disabled]="msgErrorBalance || msgErrorUnsupported" (click)="onSubmit()">
        {{"WALLETS.SEND" | translate}}
      <ion-icon name="arrow-round-up"></ion-icon>
    </button>
  </section>
</ion-content>