<ion-header no-border>
  <ion-navbar transparent>
    <ion-title title color="dark">
        <strong>
      <span ion-text color="dark">{{"WALLETS.SEND" | translate}}</span>
    </strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content background padding>
  <ion-list transparent-items>


    <form [formGroup]="form">

      <!-- Price -->
      <section title text-center>
        <h2 price ion-text color="dark" style="font-weight: bold;" *ngIf="selectedCoin">
            {{'WALLETS.SEND.AMOUNT' | translate}}

        </h2>
      </section>


      <!-- Amount -->
      <ion-card amount *ngIf="platform.is('ios') || platform.is('android')">
        <ion-item>
          <ion-label>
            <input pattern="^[+]?([0-9]*[.])?[0-9]+$" formControlName="amount" [(ngModel)]="amount" currencyMask
              [options]="optionsXPX" (keypress)="checkAllowedInput($event)" />
          </ion-label>
        </ion-item>
      </ion-card>

      <section total text-center>
        <h2 price ion-text color="dark" *ngIf="selectedCoin">
            US$ {{ selectedCoin?.market_data.current_price.usd * amount  | number : '1.2-6' }}</h2>
        <div *ngIf="msgErrorBalance !== ''">
          <strong style="color:red;padding-left: 2rem;">{{msgErrorBalance}}</strong>
        </div>
      </section>


      <!-- Mosaic -->
      <ion-card *ngIf="selectedMosaic" (click)="selectMosaic()">
        <ion-label text-left padding-left> {{ "WALLETS.BALANCE" | translate}}:</ion-label>

        <ion-item background-white>
          <ion-avatar item-start>
            <img [src]="utils.getLogo(selectedMosaic)">
          </ion-avatar>
          <h2 text-uppercase ion-text color="dark">{{ selectedMosaic?.mosaicId || '' }}</h2>
          <p text-uppercase ion-text color="dark">
            {{ selectedMosaic?.namespaceId || selectedMosaic.hex.toLocaleUpperCase() }}</p>

          <section item-right>
            <h2 ion-text color="dark" bold>
              {{getAbsoluteAmount(selectedMosaic.amountCompact, selectedMosaic.divisibility)}}</h2>
            <p text-right color="dark" style="font-size: 10px !important">
              USD$ {{((selectedMosaic.mosaicId == 'xpx') ? (selectedCoin?.market_data.current_price.usd * selectedMosaic?.amount) : 0) | number : '1.2-6'  }}
            </p>
          </section>
        </ion-item>
      </ion-card>

      <ion-card no-margin-bottom fake-card *ngIf="!selectedMosaic">
        <ion-item text-center>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-card>

      <!-- Recipient -->
      <ion-item select-contact no-lines>
        <ion-label ion-text color="dark"></ion-label>
        <ion-select [selectOptions]="{title: 'WALLETS.SEND.ADDRESS.OPTION.TITLE' | translate, subTitle: ''}"
          [(ngModel)]="addressSourceType.to" [ngModelOptions]="{standalone: true}" (ionChange)="onChangeTo($event)">
          <ion-option value="manual">{{"WALLETS.SEND.ADDRESS.OPTION1" | translate}}</ion-option>
          <ion-option value="contact">{{"WALLETS.SEND.ADDRESS.OPTION2" | translate}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-card *ngIf="addressSourceType.to === 'contact'" (click)="selectContact('to')">
        <ion-item>
          <img item-left logo-small [src]="App.USER">
          <h2 ion-text color="dark">{{ form.get('recipientName').value || "WALLETS.SEND.ADDRESS.OPTION2" | translate }}
          </h2>
          <p small ion-text color="dark">
            {{ form.get('recipientAddress').value || '' }}</p>
        </ion-item>
      </ion-card>

      <ion-card no-margin-bottom *ngIf="addressSourceType.to === 'manual'">
        <ion-item>
          <ion-input formControlName="recipientAddress" type="text" value=""
            placeholder="{{'WALLETS.SEND.ADDRESS' | translate}}"></ion-input>
          <button clear item-right ion-button icon-only (click)="scan()">
            <ion-icon color="white" name="custom-qrcode"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
      <div *ngIf="msgErrorUnsupported !== ''">
        <strong style="color:red;padding-left: 2rem;">{{msgErrorUnsupported}}</strong>
      </div>

      <!-- Note -->
      <ion-card>
        <ion-item no-border transparent padding>
          <ion-textarea ion-text color="dark" autosize rows="2" ion-text color="dark" formControlName="message"
            placeholder="{{'WALLETS.SEND.NOTES' | translate}}"></ion-textarea>
        </ion-item>
      </ion-card>

      <ion-card transparent>
        <ion-item transparent padding>
          <ion-input formControlName="password" [type]="passwordType"
            placeholder="{{'APP.COMMON.PASSWROD.PLACEHOLDER' | translate}}"></ion-input>

          <button type="button" (click)="showHidePassword($event)" clear item-right ion-button icon-only>
            <ion-icon item-right color="dark" [name]="passwordIcon">
            </ion-icon>
          </button>
        </ion-item>
      </ion-card>
    </form>

  </ion-list>

  <section text-center>
    <button gradient-button half color-6 ion-button icon-end no-margin
      [disabled]="msgErrorBalance || msgErrorUnsupported || form.invalid" (click)="send()">
      {{"WALLETS.SEND" | translate}}
      <ion-icon name="custom-send"></ion-icon>
    </button>
  </section>
  <br><br>
</ion-content>