
<ion-content background>
  <ion-navbar transparent>
      <ion-list title transparent>
          <ion-item transparent>
            <h2 padding-left title color="dark">
              <strong>
                  {{"SERVICES.ADDRESS_BOOK.TITLE" | translate}}
              </strong>
            </h2>
          </ion-item>
        </ion-list>
  
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid empty *ngIf="contacts && !contacts.length">
    <ion-row>
      <ion-col>
        <img half-width [src]="App.STICKERS.SORRY">

        <h6 ion-text color="grey" text-wrap>
          <strong>{{"APP.EMPTY.CONTACT" | translate}}</strong>
        </h6>

        <button gradient-button color-5 (click)="showAddContactPrompt()">
          {{"SERVICES.ADDRESS_BOOK.ADD_CONTACT" | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list transparent-items *ngIf="contacts && contacts.length">
    <ion-card *ngFor="let contact of contacts" (click)="onSelect(contact)" (press)="onPress(contact)">
      <ion-item>
        <!-- <img item-left logo-small [src]="App.USER"> -->
        <ion-icon item-start ion-text color="dark" name="custom-account"></ion-icon>
        <h2 ion-text color="dark">{{ contact.name }}</h2>
        <p small ion-text color="dark">{{ contact.address }}</p>
        <ion-icon item-end ion-text color="dark" name="ios-arrow-forward"></ion-icon>
      </ion-item>
    </ion-card>

    <section margin-top text-center>
      <button no-margin gradient-button circle color-5 (click)="showAddContactPrompt()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <p text-wrap ion-text color="dark">{{"SERVICES.ADDRESS_BOOK.ADD_CONTACT" | translate}}</p>
    </section>
  </ion-list>
</ion-content>