  <!-- <ion-buttons *ngIf="isLoggedIn==true" slot="start" class="sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated" (Click)="openCustom()">
  
  </ion-buttons> -->
  <ion-menu-button white class="ios button ion-activatable hydrated"></ion-menu-button>
  <ion-content >
  
  
      <ion-grid >
          <img src="assets/imgs/shell-proximax-white.svg" icon>

          <!-- Wallet -->
          <form >
              <ion-row>
                <ion-col  size="12" >
                    <h3 white text-center>Wallets</h3>
                    <ion-card background-black-trans>
                      <ion-card-content>
                        <div text-center>
                          <img style="margin: auto;" src="assets/imgs/create-add-new-white.svg" icon-add routerLink="/wallet-create" routerDirection="root" >
                          <h1 white>Create new wallet</h1>
                        </div>
  
                      </ion-card-content>
                    </ion-card>

                    <ion-card *ngFor="let item of wallets" (click)="openWallet(item)"  background-orange>
                      <ion-card-content > 
                          <span *ngIf="item.val"white>{{item.mosaics}}</span>
                        <h3 white><strong>{{item.name}}</strong></h3>
                        <span style="font-size: 12px;" white>{{item.address}}</span>
                        <h4 *ngIf="item.amount" white>{{item.amount}} xpx</h4>
                        <h4 *ngIf="!item.amount" white>0.000000 xpx</h4>
  
                      </ion-card-content>
                    </ion-card>
                  
                  </ion-col>
                </ion-row>
            </form>
<!--  Create new wallets -->


      </ion-grid>

</ion-content>
