<!-- Mosaic -->
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img [src]="utils.getLogo(mosaicsHex)">
    </ion-avatar>
    <p text-uppercase ion-text color="dark" *ngIf="!nameMosaic">
      {{ mosaicsHex }}</p>
    <!-- -->
    <p text-uppercase ion-text color="dark" *ngIf="nameMosaic" >
      {{ nameMosaic }}</p>
    <section item-right>
      <!-- <h2 style="padding-top: 9px !important;"> 1</h2> -->
      <h2 style="padding-top: 9px !important;"> {{ amountFormatter }}</h2>
    </section>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <h6 ion-text color="dark">
      {{"WALLETS.TRANSACTION.DETAIL.DATE" | translate}}
    </h6>
    <p small ion-text color="dark">
      6/4/2020 13:31:09
    </p>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <h6 ion-text color="dark">
      {{"WALLETS.TRANSACTION.DETAIL.RECEIVER" | translate}}
    </h6>
    <p small ion-text color="dark">
      {{ dataTotal.recipient.pretty() }}
    </p>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <h6 ion-text color="dark">
      {{"SERVICES.GIFT_CARD.CARD.DESC" | translate}}
    </h6>
    <p small ion-text color="dark">
      {{ this.detalDesc.Descrip }}
    </p>
  </ion-item>
</ion-card>

<!-- CARD NUMBER -->
<ion-card>
  <ion-item>
    <h6 ion-text color="dark">
      {{"SERVICES.GIFT_CARD.CARD.ID" | translate}}
    </h6>
    <p small ion-text color="dark">
      {{ this.detalDesc.Code }}
    </p>
  </ion-item>
</ion-card>

<!-- HASH -->
<ion-card>
  <ion-item>
    <h6 ion-text color="dark">
      {{"WALLETS.TRANSACTION.DETAIL.HASH" | translate}}
    </h6>
    <p small ion-text color="dark">
      {{ hashTansaction }}
    </p>
  </ion-item>
</ion-card>