
<ion-content background select-mosaic>
  <ion-list transparent-items>
    <ion-card no-margin-bottom 
      *ngFor="let mosaic of mosaics" (click)="onSelect(mosaic);onSubmit()">
      <ion-item>
        <img logo-medium item-left [src]="utils.getLogo(mosaic)">
        <h2 ion-text color="dark" *ngIf="mosaic.name != undefined && mosaic.name.length !=0 ">
            {{ mosaic.name | uppercase }}</h2>
          <h3 ion-text color="dark" *ngIf="mosaic.name === undefined || mosaic.name.length === 0">
            {{ mosaic.hex | uppercase }}
          </h3>
        <!-- <h2 text-uppercase ion-text color="dark">{{ mosaic.mosaicId || ''}}</h2>
        <p text-uppercase ion-text color="dark">{{ (mosaic.namespaceId.length==0 || mosaic.namespaceId==undefined ? mosaic.hex : mosaic.namespaceId) | uppercase }}</p> -->

        <section item-right>
          <h2 ion-text color="dark">{{getAbsoluteAmount(mosaic.amountCompact, mosaic.divisibility)}}</h2>
          <p text-right text-left ion-text color="dark"  *ngIf="(mosaic.mosaicId | getMarketPrice | async) as marketPrice">
            <small>
              {{ mosaic.amount * marketPrice | currency : 'USD' : 'symbol' : '1.2-6' }}
            </small>
          </p>
        </section>
      </ion-item>
    </ion-card>

    <section [hidden]="mosaics">
      <ion-card  no-margin-bottom fake-card *ngFor="let fakeCard of fakeList">
        <ion-item>
          <section image item-left></section>
          <h2> &nbsp; </h2>
          <p> &nbsp; </p>

          <section item-right>
            <h2> &nbsp; </h2>
            <p>
              <small> &nbsp; </small>
            </p>
          </section>
        </ion-item>
      </ion-card>
      <ion-card>
        <ion-item text-center>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-card>
    </section>
  </ion-list>
</ion-content>
