  <ion-header toolbar-background>
      <ion-toolbar color="transparent" [class.show-background]="showToolbar">
        <ion-buttons slot="start" white>
            <ion-back-button defaultHref="/address-book"></ion-back-button>
        </ion-buttons>
        <ion-title class="center"><img src="assets/imgs/shield-proximax-white.svg" icon-add [routerLink]="['/wallets']" routerDirection="root"></ion-title>
      <ion-buttons slot="end">
        <ion-button>
            <img slot="icon-only" src="assets/imgs/user-account-white.png" [routerLink]="['/account']" routerDirection="root">
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]="formAddContact" (ngSubmit)="onAdd(formAddContact.value)">
          <ion-row>
            <ion-col buttons padding-top-2 col-12 text-center>
                <h3 white>Add new contact</h3>
                <ion-card  background-white>
                    <ion-card-content>
                      <ion-item>
                        <ion-input type="text" formControlName="name" placeholder="Enter a contact name" ></ion-input>
                      </ion-item>
                    </ion-card-content>
                  </ion-card>

                  <ion-card  background-white>
                      <ion-card-content>
                        <ion-item>
                          <ion-input type="text" formControlName="address" placeholder="Enter wallet address" ></ion-input>
                          <img src="assets/imgs/scan-qr-code-green-light.svg" slot="end" (click)="scanAddress()" icon-scan>
                        </ion-item>
                      </ion-card-content>
                    </ion-card>

                    <ion-card  background-white>
                        <ion-card-content>
                          <ion-item>
                            <ion-input type="text" formControlName="usertelegram" placeholder="Telegram user name (optional) " ></ion-input>
                          </ion-item>
                        </ion-card-content>
                      </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col  text-center>
                  <button gradient-button color-1 ion-button icon-end [disabled]="formAddContact.invalid" type="submit"
                    color="black">
                    Save
                  </button>
                </ion-col>
                <ion-col  text-center>
                    <button gradient-button color-3 ion-button icon-end type="submit"
                      color="black">
                      Cancel
                    </button>
                  </ion-col>
          </ion-row>
        </form>
    </ion-grid>
</ion-content>
