<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      <img class="wallet-logo" src="assets/imgs/slides/logo-proximax-sirius-wallet-beta.svg">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <section wallets>
    <ion-card balance>
      <ion-card-content>
        <br>
        <h1 wallet-name text-center> {{selectedAccount.account?.name}}</h1>
        <h1 color="dark" text-center> ${{ (totalBalance? totalBalance:0) | number : '1.2-2'}} USD</h1>
        <ion-list transparent-items>
          <ion-item *ngIf="selectedAccount" (click)="copy(selectedAccount.account.address.address)">
            <ion-icon name='custom-copy' item-end></ion-icon>
            <p text-justify address *ngIf="selectedAccount">{{ selectedAccount.account?.address.address }} </p>
          </ion-item>
        </ion-list>
        <button gradient-button quarter-width color-5 medium (click)="moreDetails()">
          {{"WALLETS.MORE_DETAILS" | translate}}
        </button>
      </ion-card-content>
    </ion-card>
  </section>

  <ion-grid normal>
    <ion-segment mode='md' [(ngModel)]="menu" color="dark">
      <ion-segment-button value="confirmed" checked>
        {{"APP.ITEM.CONFIRMED" | translate}}
      </ion-segment-button>
      <ion-segment-button value="unconfirmed">
        {{"APP.ITEM.UNCONFIRMED" | translate}}
      </ion-segment-button>
      <ion-segment-button value="partials">
        {{"APP.ITEM.PARTIALS" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-grid>
</ion-header>

<ion-content background>
  <!-- Skeleton loader -->
  <ion-list transparent-items *ngIf="isLoading">
    <h2 padding *ngIf="!showEmptyMessage">{{"WALLETS.TRANSACTIONS" | translate}}</h2>
    <ion-card no-margin-bottom fake-card *ngFor="let fakeCard of fakeList">
      <skeleton-loader></skeleton-loader>
    </ion-card>
    <ion-card no-border>
      <ion-item text-center>
        <ion-spinner name="dots"></ion-spinner>
      </ion-item>
    </ion-card>
  </ion-list>
  <!-- ./Skeleton loader -->

  <!-- Transactions -->
  <ion-list transparent-items *ngIf="!isLoading">
    <!-- Confirmed Transactions -->
    <ng-container *ngIf="menu === 'confirmed'">
      <ng-container *ngIf="confirmedTransactions?.length > 0; else showEmptyMessage">
        <ion-card no-margin-bottom *ngFor="let transaction of confirmedTransactions; trackBy: trackByHash">
          <!-- if transfer  -->
          <transactions [tx]="transaction" [mosaics]="mosaics" [owner]="selectedAccount.account.address.address"
            [status]="'Confirmed'" (viewTxDetail)="gotoTransactionDetail($event, 'confirmed')">
          </transactions>
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="getMoreConfirmedTxn($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-container>

      <ng-template #showEmptyMessage>
        <ion-grid empty>
          <ion-row>
            <ion-col>
              <br><br>
              <img quarter-width [src]="App.STICKERS.SORRY">
              <h6 ion-text color="grey" text-wrap>
                <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
              </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ng-container>

    <!-- Unconfirmed Transactions -->
    <ng-container *ngIf="menu === 'unconfirmed'">
      <ng-container *ngIf="unconfirmedTransactions?.length > 0; else showEmptyMessage">
        <ion-card no-margin-bottom *ngFor="let transaction of unconfirmedTransactions; trackBy: trackByHash"
          (click)="gotoTransactionDetail(transaction, 'unconfirmed')">
          <!-- if transfer  -->
          <transactions *ngIf="transaction.type == TransactionType.TRANSFER" [tx]="transaction" [mosaics]="mosaics"
            [owner]="selectedAccount.account.address.address" [status]="'Confirmed'">
          </transactions>
        </ion-card>
      </ng-container>

      <ng-template #showEmptyMessage>
        <ng-container>
          <ion-grid empty>
            <ion-row>
              <ion-col>
                <br><br>
                <img quarter-width [src]="App.STICKERS.SORRY">
                <h6 ion-text color="grey" text-wrap>
                  <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
                </h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ng-template>
    </ng-container>

    <!-- Partials Transactions -->
    <ng-container *ngIf="menu === 'partials'">
      <ng-container *ngIf="aggregateTransactions?.length > 0; else showEmptyMessage">
        <ion-card no-margin-bottom *ngFor="let transaction of aggregateTransactions; trackBy: trackByHash"
          (click)="gotoTransactionDetail(transaction, 'partials')">
          <!-- if transfer  -->
          <transactions *ngIf="transaction.innerTransactions[0].type == TransactionType.TRANSFER" [tx]="transaction"
            [mosaics]="mosaics" [owner]="selectedAccount.account.address.address" [status]="'Partial'">
          </transactions>
        </ion-card>
      </ng-container>

      <ng-template #showEmptyMessage>
        <ion-grid empty>
          <ion-row>
            <ion-col>
              <br><br>
              <img quarter-width [src]="App.STICKERS.SORRY">
              <h6 ion-text color="grey" text-wrap>
                <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
              </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ng-container>


    <!-- <ion-list>
      <ion-item *ngFor="let i of items">{{i}}</ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
    <!-- --------------------------- -->
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid normal>
      <ion-row>
        <ion-col>
          <button (click)="showReceiveModal()" gradient-button full color-5 ion-button icon-start no-margin>
            <ion-icon name="arrow-round-down"></ion-icon>
            {{"WALLETS.RECEIVE" | translate}}
          </button>
        </ion-col>
        <ion-col>
          <button (click)="showSendModal()" gradient-button full color-6 ion-button icon-end no-margin>
            {{"WALLETS.SEND" | translate}}
            <ion-icon name="arrow-round-up"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>