page-transaction-list {

  h1[wallet-name] {
    color: color($colors, secondary); 
  }


  p[address] {
    font-size: 1.1rem !important;
  }

  h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .list>.item-block:first-child {
    border-top: none !important;
  }

  .list>.item-block:last-child {
    border-bottom: none !important;
  }

  .scroll-content {
    margin-top: 278px;
  }

  ion-grid[reduce-margin-top] {
    margin-top: -6em
  }
}
