<!--
  Generated template for the TransactionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="black">{{walletName }}</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="black">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <section wallets>

      <ion-card balance>
        <ion-card-content>
          <br>

          <h1 wallet-name text-center> {{selectedAccount?.name}}</h1>

          <h1 color="dark" text-center> ≈${{ (totalBalance? totalBalance:0) | number : '1.2-2'}}</h1>
          <!-- <h2 color="dark"  text-center>≈${{ (totalBalance? totalBalance:0) | number : '1.2-2'}}</h2> -->

            <ion-list transparent-items>
                <ion-item *ngIf="selectedAccount" (click)="copy(selectedAccount.address.plain())">
                    <ion-icon name='ios-copy-outline' item-end></ion-icon>
                    <p text-justify address *ngIf="selectedAccount">{{ selectedAccount?.address.plain() }} </p>
                </ion-item>
              </ion-list>
              <button gradient-button quarter-width color-5 medium (click)="moreDetails()">
                  {{"WALLETS.MORE_DETAILS" | translate}}
              </button>
        </ion-card-content>
      </ion-card>

      
  </section>



</ion-header>

<ion-content background>
  <!-- Skeleton loader -->
  <ion-list transparent-items *ngIf="isLoading">
    <h2 padding *ngIf="!showEmptyMessage">{{"WALLETS.TRANSACTIONS" | translate}}</h2>

    <ion-card no-margin-bottom fake-card *ngFor="let fakeCard of fakeList">
      <skeleton-loader></skeleton-loader>
  </ion-card>
  <ion-card no-border>
    <ion-item text-center>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
  </ion-card>
  </ion-list>
  <!-- ./Skeleton loader -->

  <!-- Transactions -->
  <ion-list transparent-items *ngIf="!isLoading">
    <h2 padding *ngIf="!showEmptyMessage">{{"WALLETS.TRANSACTIONS" | translate}}</h2>

    <ion-card no-margin-bottom *ngFor="let transaction of confirmedTransactions; trackBy: trackByHash"
        (click)="gotoTransactionDetail(transaction)">        

        <!-- if transfer  -->
        <transfer-transaction *ngIf="transaction.type == TransactionType.TRANSFER" [tx]="transaction"
          [owner]="selectedAccount.address.plain()">
        </transfer-transaction>
      </ion-card>


  </ion-list>
  <!-- ./Transactions -->

  <!-- Infinite scroll -->
  <!-- <ion-infinite-scroll *ngIf="!showEmptyMessage"  (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more transactions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- ./Infinite scroll -->

  <ion-grid padding empty *ngIf="showEmptyMessage" reduce-margin-top>
    <ion-row padding>
      <ion-col>
        <img quarter-width [src]="App.STICKERS.SORRY">
        <!-- 
            <h4 ion-text color="blackgreen" text-wrap>
              No transactions yet
            </h4> -->

        <h6 ion-text color="grey" text-wrap>
          <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
        </h6>

        <!-- <p text-wrap>
              Start by sending mosaics to your new wallet
            </p> -->

        <!-- 
            <h6 ion-text color="blackgreen" text-wrap>
              Start by sending mosaics to your new wallet
            </h6> -->
        <!--     
            <button gradient-button color-5 color="black" (click)="showReceiveModal()">
              Topup now
            </button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid normal>
      <ion-row>
        <ion-col>
          <button  (click)="showReceiveModal()"  icon-start block ion-button color="primary" round>
            <ion-icon name="ios-arrow-round-down"></ion-icon>
            {{"WALLETS.RECEIVE" | translate}}</button>
        </ion-col>
        <ion-col>
            <button (click)="showSendModal()" icon-start block ion-button color="secondary" round>
              <ion-icon name="ios-arrow-round-up"></ion-icon>
              {{"WALLETS.SEND" | translate}}</button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>