<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="dark"> {{ "SERVICES.SWAP_PROCESS.LIST.TITLE" | translate }}</span>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only ion-text color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-margin>
  <ion-list transparent-items *ngIf="!isLoading">
    <ion-card no-margin-bottom *ngFor="let accountNIS1 of accountsNIS1; let i = index"  class="background-white">
      <ion-card-header no-padding>
        <ion-item (click)="openAccountNis1(accountNIS1)">
          <ion-icon color="dark" name="custom-address" item-start></ion-icon>
          <h2 text-uppercase ion-text color="dark"><strong>{{ accountNIS1.account.name }}</strong></h2>
          <p ion-text color="dark">{{  accountNIS1.account.address.value }}</p>
        </ion-item>
      </ion-card-header>
    </ion-card>

    <section margin-top text-center>
      <button no-margin gradient-button circle color-5 (click)="goImportAccount()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <p text-wrap ion-text color="dark">{{ "SERVICES.SWAP_PROCESS.LIST.SUBTITLE" | translate }}</p>
    </section>
  </ion-list>

  <section spacing></section>
</ion-content>