<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      <strong>
          <span ion-text color="dark"> {{ "SERVICES.SWAP_PROCESS.LIST.TITLE" | translate }}</span>
      </strong>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only ion-text color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-margin>
  <ion-list transparent-items *ngIf="!isLoading">
    <ion-card no-margin-bottom *ngFor="let accountNIS1 of accountsNIS1; let i = index" class="background-white">
      <ion-card-header no-padding>
        <ion-item (click)="openAccountNis1(accountNIS1)">
          <ion-icon color="dark" name="custom-address" item-start></ion-icon>
          <h2 text-uppercase ion-text color="dark"><strong>{{ accountNIS1.account.name }}</strong></h2>
          <p ion-text color="dark">{{  accountNIS1.account.address.value }}</p>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-grid empty *ngIf="accountsNIS1 && accountsNIS1.length === 0">
      <br><br><br>
      <ion-row>
        <ion-col>
          <img half-width [src]="App.STICKERS.SORRY">
  
          <h6 ion-text color="grey" text-wrap>
            <strong>{{"APP.EMPTY.MOSAICS" | translate}}</strong>
          </h6>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  <section spacing></section>
</ion-content>