<!-- Mosaic/s -->
<ion-card no-margin-bottom *ngFor="let mosaic of mosaics">
  <ion-item>
    <img logo-small item-left [src]="utils.getLogo(mosaic)">
    <h2 ion-text text-uppercase color="dark">{{ mosaic.mosaicId }}</h2>
    <p text-uppercase ion-text color="dark">
      <small>
        {{ mosaic.namespaceId }}
        
      </small>
    </p>

    <section item-right>
      <h2 text-right ion-text color="success" *ngIf="owner == tx?.recipient?.address">
        + {{getAbsoluteAmount(mosaic.amount?.toString(), mosaic.divisibility)}}
      </h2>

      <h2 text-right ion-text color="danger" *ngIf="owner  != tx?.recipient?.address">
        - {{ getAbsoluteAmount(mosaic.amount?.toString(), mosaic.divisibility) }}
      </h2>

      <p text-right text-left ion-text color="dark">
        <!-- <small *ngIf="mosaic.mosaicId === 'xpx';">
          {{ mosaic.amount * 0.00837014 | currency }}
        </small> -->

        <!-- <small *ngIf="mosaic.mosaicId === 'lyl';">
          {{ mosaic.amount * 0.00436937 | currency }}
        </small> -->

        <!-- <small *ngIf="mosaic.mosaicId !== 'lyl' || mosaic.mosaicId === 'xpx'">
          {{ mosaic.amount * 0.00436937 | currency }}
        </small> -->
      </p>
    </section>
  </ion-item>
</ion-card>
<!-- ./Mosaic/s -->

<!-- Date -->
<ion-card no-margin-bottom>
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.DATE" | translate}}</h2>

      <p text-wrap ion-text color="dark">
        {{ tx?.deadline.value.minusMinutes(1439).toString() | date:'EEEE, MMMM d, y, h:mm:ss a' }}
      </p>

      <p item-right>
        {{ tx?.deadline.value.minusMinutes(1439).toString() | timeago  }}
      </p>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Date -->

<!-- Sender -->
<ion-card no-margin-bottom (click)="utils.copy(tx?.signer.address.plain(), 'sender')">
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">
        {{"WALLETS.TRANSACTION.DETAIL.SENDER" | translate}}
      </h2>
      <p text-wrap> {{ tx?.signer.address.plain() }}</p>

      <!-- <p text-wrap> {{ tx?.signer.address.address | nemAddressPretty | searchContact: tx?.signer.address.address | async }}</p> -->
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Sender -->

<!-- Receiver -->
<ion-card no-margin-bottom (click)="utils.copy(tx?.recipient?.address, 'receiver')">
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">
          {{"WALLETS.TRANSACTION.DETAIL.RECEIVER" | translate}}
      </h2>
      <p text-wrap> {{ tx?.recipient?.address }}</p>

      <!-- <p text-wrap> {{ tx?.recipient.value | nemAddressPretty | searchContact: tx?.recipient.value | async }}</p> -->
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Receiver -->

<!-- Fee -->
<ion-card no-margin-bottom>
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.FEE" | translate}}</h2>

      <p text-wrap ion-text color="dark">
        {{ getAbsoluteAmount(tx?.maxFee.compact(), 6) }} XPX
      </p>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Fee -->

<!-- Block -->
<ion-card no-margin-bottom>
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.BLOCK" | translate}}</h2>

      <p text-wrap ion-text color="dark">
        {{ tx?.transactionInfo?.height.compact()}}
      </p>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Block -->

<!-- Hash -->
<ion-card no-margin-bottom (click)="utils.copy(tx?.transactionInfo?.hash, 'hash')">
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.HASH" | translate}}</h2>

      <p text-wrap>
        {{ tx?.transactionInfo?.aggregateHash ? tx?.transactionInfo?.aggregateHash : tx?.transactionInfo?.hash }}
      </p>
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Hash -->

<!-- Message -->
<ion-card no-margin-bottom *ngIf="!messageShow" (click)="utils.copy(tx.message.payload, 'message')">
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.MESSAGE" | translate}}</h2>

      <p text-wrap ion-text color="dark" *ngIf="tx.message.payload && tx?.message?.type == 0 && !messageShow">
        {{ tx?.message?.payload }}
      </p>

      <p text-wrap ion-text color="dark" color="dark" *ngIf="tx.message.type == 1">
        {{"WALLETS.TRANSACTION.DETAIL.ENCRYPTED_MESSAGE" | translate}}
      </p>

      <p ion-text color="dark" *ngIf="!tx.message.payload">
          {{"WALLETS.TRANSACTION.DETAIL.EMPTY_MESSAGE" | translate}}
      </p> 
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card no-margin-bottom *ngIf="messageShow" (click)="utils.copy(message.message , 'message')">
  <ion-card-content no-padding>
    <ion-item>
      <h2 ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.MESSAGE" | translate}}</h2>
      <p text-wrap ion-text color="dark">
        {{ message.message }}
    </p> 
    </ion-item>
  </ion-card-content>
</ion-card>
<!-- ./Message -->
