.wallet-1 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-1), lighten(color($colors, wallet-1), 1%), darken(color($colors, wallet-1), 3%), darken(color($colors, wallet-1), 5%), darken(color($colors, wallet-1), 7%));

}


.wallet-2 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-2), lighten(color($colors, wallet-2), 1%), darken(color($colors, wallet-2), 3%), darken(color($colors, wallet-2), 5%), darken(color($colors, wallet-2), 7%));
}

// .wallet-2 {
//   background-image: url('../assets/imgs/map.png'),
//     linear-gradient(to right bottom, #5C9EBB, lighten(#5C9EBB, 1%), darken(#5C9EBB, 10%), darken(#5C9EBB, 15%), darken(#5C9EBB, 20%));

// }


.wallet-3 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-3), darken(color($colors, wallet-3), 1%), darken(color($colors, wallet-3), 10%), darken(color($colors, wallet-3), 15%), darken(color($colors, wallet-3), 20%));
}

.wallet-4 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-4), darken(color($colors, wallet-4), 1%), darken(color($colors, wallet-4), 7%), darken(color($colors, wallet-4), 9%), darken(color($colors, wallet-4), 12%));
}

.wallet-5 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-5), lighten(color($colors, wallet-5), 1%), darken(color($colors, wallet-5), 5%), darken(color($colors, wallet-5), 7%), darken(color($colors, wallet-5), 9%));
}

.wallet-6 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-6), lighten(color($colors, wallet-6), 1%), darken(color($colors, wallet-6), 7%), darken(color($colors, wallet-6), 9%), darken(color($colors, wallet-6), 12%));
}


.wallet-7 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-7), lighten(color($colors, wallet-7), 1%), darken(color($colors, wallet-7), 3%), darken(color($colors, wallet-7), 5%), darken(color($colors, wallet-7), 7%));

}

.wallet-8 {
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, color($colors, wallet-8), darken(color($colors, wallet-8), 5%), darken(color($colors, wallet-8), 10%), darken(color($colors, wallet-8), 15%), darken(color($colors, wallet-8), 20%));

}



.wallet-content[selected] {
  // background-image: url('../assets/imgs/map.png'), 
  // linear-gradient(to right bottom, #1F6B86, lighten(#1F6B86, 1%), darken(#1F6B86, 10%), darken(#1F6B86, 15%), darken(#1F6B86, 20%));
  background-image: url('../assets/imgs/map.png'),
    linear-gradient(to right bottom, darken(#98AFBA, 40%), darken(#98AFBA, 35%), darken(#98AFBA, 45%), darken(#98AFBA, 35%), darken(#98AFBA, 45%)) !important;
}

.wallet-create {
  // background-image: url('../assets/imgs/map.png'), 
  // linear-gradient(to right bottom, #1F6B86, lighten(#1F6B86, 1%), darken(#1F6B86, 10%), darken(#1F6B86, 15%), darken(#1F6B86, 20%));
  background-image: url(''),
    linear-gradient(to right bottom, lighten(#f5f9fa, 1%), lighten(#f5f9fa, 3%), lighten(#f5f9fa, 1%), lighten(#f5f9fa, 3%), lighten(#f5f9fa, 1%)) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1) inset;


}
