<ion-content background>
  <ion-refresher (ionRefresh)="doRefresh($event)" class="margin-bottom:30px;">
    <ion-refresher-content pullingIcon="arrow-round-up" refreshingSpinner="ios">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list title transparent>
    <ion-item transparent>
      <h2 padding-left title color="dark">
        <strong>
            {{ "WALLETS.TITLE" | translate }}
        </strong>
      </h2>
      <button ion-button icon-only item-end clear (click)="showAddWalletPrompt()">
        <ion-icon color="dark" name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-slides slidesPerView="1.1" spaceBetween="0.5" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let wallet of wallets"
      [attr.selected]="selectedWallet?.name === wallet?.name ? true : null"
       (press)="showWalletList()">
      <div class="wallet" >
        <div class="wallet-content" [ngClass]="wallet.walletColor" (click)="showWalletDetails(wallet)">
          <img class="wallet-front-logo wallet-logo" src="assets/imgs/sirius-wallet-white.png">

          <div *ngIf="!tablet">
            <p class="wallet-number">{{ wallet?.address.plain() | ngXtruncate: 22 : '...' }}</p>
          </div>
          <div *ngIf="tablet">
            <p class="wallet-number">{{ wallet?.address.plain() }}</p>
          </div>
          <div class="wallet-space-75">
            <span class="wallet-label">{{"WALLETS.WALLET_NAME" | translate}}</span>
            <p class="wallet-info">{{ wallet?.name }}</p>
          </div>
          <div class="wallet-space-25">
            <span class="wallet-label">{{"WALLETS.BALANCE" | translate}}</span>
            <p class="wallet-info">${{ totalWalletBalance | number : '1.2-2'}} USD</p>
          </div>
        </div>
      </div>
    </ion-slide>


    <ion-slide (click)="showAddWalletPrompt()">
      <div class="wallet">
        <div class="wallet-content" [ngClass]="'wallet-create'">
          <img class="wallet-create-front-logo wallet-logo" src="assets/imgs/wallet-add.svg">
          <h2 class="wallet-create-title">{{"WALLETS.CREATE.TITLE" | translate}}</h2>
          <p class="wallet-create-subtitle">{{"WALLETS.CREATE.DESC" | translate}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid normal>
    <ion-segment mode='md' [(ngModel)]="menu" color="dark">
      <ion-segment-button value="mosaics" checked>
        {{"WALLETS.MOSAICS" | translate}}
      </ion-segment-button>
      <ion-segment-button value="transactions">
        {{"WALLETS.TRANSACTIONS" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-grid>

  <div *ngIf="menu=='mosaics'">
    <ion-list transparent-items *ngIf="!isLoading">
      <ion-card no-margin-bottom *ngFor="let mosaic of mosaics" (click)="gotoCoinPrice(mosaic)">
        <ion-card-header no-padding>
          <ion-item>
            <img logo-small item-left [src]="utils.getLogo(mosaic)">
            <h2 ion-text color="dark">{{ mosaic.mosaicId | uppercase}}</h2>
            <p ion-text color="dark">{{ mosaic.namespaceId | uppercase }}</p>
            <section text-right item-right>
              <h2 ion-text color="dark">{{ mosaic.amount | number : '1.6-6'}}</h2>
            </section>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-list>
    <section *ngIf="!mosaics && isLoading">
      <ion-card no-margin-bottom fake-card *ngFor="let fakeCard of fakeList">
        <skeleton-loader></skeleton-loader>
      </ion-card>
      <ion-card no-border>
        <ion-item text-center>
          <ion-spinner name="dots"></ion-spinner>
        </ion-item>
      </ion-card>
    </section>

    <ion-grid padding empty *ngIf="showEmptyMosaic">
      <ion-row>
        <ion-col>
          <p>
          </p>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <img quarter-width [src]="AppConfig.STICKERS.SORRY">
          <h6 ion-text color="grey" text-wrap>
            <strong>{{"APP.EMPTY.MOSAICS" | translate}}</strong>
          </h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <div *ngIf="menu=='transactions'">
    <!-- Unconfirmed Transactions -->
    <div *ngIf="unconfirmedTransactions?.length>0">
      <ion-list transparent-items *ngIf="!isLoading">
        <ion-card no-margin-bottom *ngFor="let transaction of unconfirmedTransactions; trackBy"
          (click)="gotoTransactionDetail(transaction)">
          <!-- if transfer  -->
          <transfer-transaction *ngIf="transaction.type == TransactionType.TRANSFER" [tx]="transaction"
            [mosaics]="mosaics" [owner]="selectedAccount.address.plain()" [status]="'Unconfirmed'">
          </transfer-transaction>
        </ion-card>
      </ion-list>
    </div>

    <!-- Transactions -->
    <ion-list transparent-items *ngIf="!isLoading && confirmedTransactions">
      <ion-card no-margin-bottom *ngFor="let transaction of confirmedTransactions; trackBy"
        (click)="gotoTransactionDetail(transaction)">        

        <!-- if transfer  -->
        <transfer-transaction *ngIf="transaction.type == TransactionType.TRANSFER" [tx]="transaction"
          [mosaics]="mosaics" 
          [owner]="selectedAccount.address.plain()" [status]="'Confirmed'">
        </transfer-transaction>
      </ion-card>
    </ion-list>
    
     <!-- Skeleton loader -->
     <section *ngIf="isLoading">
       <ion-card no-margin-bottom fake-card *ngFor="let fakeCard of fakeList">
         <skeleton-loader></skeleton-loader>
       </ion-card>
       <ion-card no-border>
         <ion-item text-center>
           <ion-spinner name="dots"></ion-spinner>
         </ion-item>
       </ion-card>
     </section>
     <!-- ./Skeleton loader -->

    <ion-grid padding empty *ngIf="showEmptyTransaction">
      <ion-row>
        <ion-col>
          <p>
          </p>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <img quarter-width [src]="AppConfig.STICKERS.SORRY">
          <h6 ion-text color="grey" text-wrap>
            <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
          </h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
