<ion-content background>
  <ion-refresher (ionRefresh)="doRefresh($event)" class="margin-bottom:30px;">
    <ion-refresher-content pullingIcon="arrow-round-up" refreshingSpinner="ios">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list title transparent style="padding-top: 1em !important;">
    <ion-item transparent>
      <h2 padding-left title color="dark">
        <strong>
          {{ "WALLETS.TITLE" | translate }}
        </strong>
      </h2>
      <button ion-button icon-only item-end clear (click)="showAddWalletPrompt()">
        <ion-icon color="dark" name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-slides *ngIf="!tablet" slidesPerView="1.1" spaceBetween="0.5" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let account of accounts"
      [attr.selected]="selectedAccount?.name === account.account?.name ? true : null">
      <div class="wallet">
        <div class="wallet-content" [ngClass]="account.walletColor" (click)="showWalletDetails(account)">
          <img class="wallet-front-logo wallet-logo" src="assets/imgs/logo-two4one-mobile-wallet.svg">
          <!-- <p class="wallet-text ">{{ "APP.HOME-1" | translate }} <br> {{ "APP.HOME-2" | translate }}</p> -->

          <div *ngIf="!tablet">
            <p class="wallet-number">{{ account.account?.address.address | ngXtruncate: 46 : '...' }}</p>
          </div>

          <div class="wallet-label" style="font-size: 18px !important;">
            <span class="wallet-label"><strong>{{"WALLETS.ACCOUNT" | translate}}:</strong></span>
            {{ account.account?.name }}
          </div>
          <div *ngIf="!tablet" class="wallet-label">
            <span class="wallet-label"><strong>XPX {{"WALLETS.BALANCE" | translate}}:</strong></span>
            <span class="wallet-space-25">{{ amountXpx }}</span>
          </div>
          <div *ngIf="!tablet" class="wallet-label">
            <span class="wallet-label"><strong>US$:</strong></span>
            <span class="wallet-space-25">{{ totalWalletBalance | number : '1.2-2'}}</span>
            <br>
          </div>
        </div>
      </div>
    </ion-slide>


    <ion-slide (click)="showAddWalletPrompt()">
      <div class="wallet">
        <div class="wallet-content" [ngClass]="'wallet-create'">
          <img class="wallet-create-front-logo wallet-logo" style="display:block; margin:auto; color: #7E0101;"
            src="assets/imgs/wallet-add.svg">
          <h2 class="wallet-create-title" style="text-align: center; color: #7E0101;">{{"WALLETS.CREATE.TITLE" | translate}}</h2>
          <p class="wallet-create-subtitle" style="text-align: center">{{"WALLETS.CREATE.DESC" | translate}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  
  <ion-slides  *ngIf="tablet" slidesPerView="1.1" spaceBetween="0.5" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let account of accounts"
      [attr.selected]="selectedAccount?.name === account.account?.name ? true : null">
      <div class="wallet">
        <div class="wallet-content" [ngClass]="account.walletColor" (click)="showWalletDetails(account)">
          <img class="wallet-front-logo wallet-logo" src="assets/imgs/logo-proximax-sirius-wallet-white.svg">

          <div *ngIf="tablet">
            <p class="wallet-number" style="font-size: 18px !important;">{{ account.account?.address.address }}</p>
          </div>
          <div class="wallet-label" style="font-size: 18px !important;">
            <span class="wallet-label"><strong>{{"WALLETS.ACCOUNT" | translate}}:</strong></span>
            {{ account.account?.name }}
          </div>


          <div *ngIf="tablet" class="wallet-label" style="font-size: 18px !important;">
            <span class="wallet-label"><strong>XPX {{"WALLETS.BALANCE" | translate}}:</strong></span>
            <span class="wallet-space-tablet">{{ amountXpx }}</span>
          </div>

          <div *ngIf="tablet" class="wallet-label" style="font-size: 18px !important;">
            <span class="wallet-label"><strong>US$:</strong></span>
            <span class="wallet-space-tablet">{{ totalWalletBalance | number : '1.2-2'}}</span>
            <br>
          </div>

        </div>
      </div>
    </ion-slide>


    <ion-slide (click)="showAddWalletPrompt()">
      <div class="wallet">
        <div class="wallet-content" [ngClass]="'wallet-create'">
          <img class="wallet-create-front-logo wallet-logo" style="display:block; margin:auto;"
            src="assets/imgs/wallet-add.svg">
          <h2 class="wallet-create-title" style="text-align: center">{{"WALLETS.CREATE.TITLE" | translate}}</h2>
          <p class="wallet-create-subtitle" style="text-align: center">{{"WALLETS.CREATE.DESC" | translate}}</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid normal>
    <ion-segment mode='md' [(ngModel)]="menu" color="dark" >
      <ion-segment-button value="mosaics" checked style="font-weight: bold !important;">
        {{"WALLETS.MOSAICS" | translate}}
      </ion-segment-button>
      <ion-segment-button value="transactions" style="font-weight: bold !important;">
        {{"WALLETS.TRANSACTIONS" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-grid>

  <div *ngIf="menu === 'mosaics'">
    <ion-list transparent-items *ngIf="!isLoading">
      <ion-card no-margin-bottom *ngFor="let mosaic of mosaics" (click)="gotoCoinPrice(mosaic)">
        <ion-card-header no-padding>
          <ion-item>
            <img logo-small item-left [src]="utils.getLogo(mosaic)">
            <h2 ion-text color="black" *ngIf="mosaic.name != undefined && mosaic.name.length !=0 ">
              {{ mosaic.name | uppercase }}</h2>
            <h3 ion-text color="black" *ngIf="mosaic.name === undefined || mosaic.name.length === 0">
              {{ mosaic.hex | uppercase }}
            </h3>
            <section text-right item-right>
              <h2 ion-text color="black">{{getAbsoluteAmount(mosaic.amountCompact, mosaic.divisibility)}}</h2>
            </section>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-list>

    <ion-grid padding empty *ngIf="showEmptyMosaic || mosaics.length === 0">
      <ion-row>
        <ion-col>
          <p>
          </p>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <img quarter-width [src]="AppConfi.STICKERS.SORRY">
          <h6 ion-text color="grey" text-wrap>
            <strong>{{"APP.EMPTY.MOSAICS" | translate}}</strong>
          </h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="menu=='transactions'">
    <!-- Confirmed Transactions -->
    <ion-list transparent-items *ngIf="confirmedTransactions?.length > 0">
      <ion-card no-margin-bottom *ngFor="let transaction of confirmedTransactions; trackBy">
        <!-- if transfer  -->
        <transactions [tx]="transaction" [mosaics]="mosaics" [owner]="address.plain()" [status]="'Confirmed'"
          (viewTxDetail)="goToTransactionDetail($event, 'confirmed')">
        </transactions>
      </ion-card>
    </ion-list>

    <ion-list transparent-items *ngIf="unconfirmedTransactions?.length > 0">
      <ion-card no-margin-bottom *ngFor="let transaction of unconfirmedTransactions; trackBy">
        <!-- if transfer  -->
        <transactions [tx]="transaction" [mosaics]="mosaics" [owner]="address.plain()" [status]="'Unconfirmed'"
          (viewTxDetail)="goToTransactionDetail($event, 'unconfirmed')">
        </transactions>
      </ion-card>
    </ion-list>

    <ion-grid padding empty *ngIf="showEmptyTransaction">
      <ion-row>
        <ion-col>
          <p>
          </p>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <img quarter-width [src]="AppConfi.STICKERS.SORRY">
          <h6 ion-text color="grey" text-wrap>
            <strong>{{"APP.EMPTY.TRANSACTIONS" | translate}}</strong>
          </h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>