.ios,
.md {
  page-home {
    ion-content {
      margin-top: none;
      ion-refresher {
        margin-top: 3em;
      }
    }

    ion-content.has-refresher > .scroll-content {
      border-top: none !important;
    }

    .slide-zoom {
      text-align: start !important;
    }

    .wallet-content {
      left: 35px;
    }

    .swiper-slide {
      width: 335.545px !important;
    }
  }
}
