<!-- <ion-card-header time-stamp-header>
  <p float-left ion-text color="dark">
    {{ tx.otherTransaction.timeWindow.timeStamp.toString() | date:'EEEE, MMMM d, y, h:mm:ss a' }}
  </p>

</ion-card-header> -->
<ion-card-header reduce-multisig-tx-header
  *ngIf="tx.otherTransaction.containsMosaics && !tx.otherTransaction.containsMosaics()">
  <ion-item>
    <img logo-small item-left [src]="utils.getLogo(tx.otherTransaction.xem())">
    <h2 ion-text color="dark">XEM</h2>
    <p ion-text color="dark">
      <small>
        NEM
      </small>
    </p>

    <section item-right>
      <h2 text-right ion-text color="success" *ngIf="owner?.plain() == tx?.otherTransaction?.recipient.plain()">
        +{{ amount | number: '1.6-6' }}
      </h2>

      <h2 text-right ion-text color="danger" *ngIf="owner?.plain() != tx?.otherTransaction?.recipient.plain()">
        -{{ amount | number: '1.6-6' }}
      </h2>

      <p float-right ion-text color="dark">
        <small>{{ tx.otherTransaction.timeWindow.timeStamp.toString() | timeago }}</small>
      </p>
    </section>
  </ion-item>

  <ion-item transaction-status>
    <section item-left>
      <p float-left ion-text color="dark">
        <small>Multisig</small>
      </p>
    </section>

    <section item-right>
      <p float-right ion-text color="success" *ngIf="tx.isConfirmed()">
        <small>Confirmed</small>
      </p>

      <p float-right ion-text color="danger" *ngIf="!tx.isConfirmed()">
        <small>

          {{getStatus()}}
        </small>
      </p>
    </section>
  </ion-item>

</ion-card-header>

<div *ngIf="tx.otherTransaction.containsMosaics()">
  <ion-card-header reduce-multisig-tx-header *ngFor="let mosaic of mosaics">
    <ion-item>
      <img logo-small item-left [src]="utils.getLogo(mosaic)">
      <h2 ion-text text-uppercase color="dark">{{ mosaic.mosaicId.name }}</h2>
      <p ion-text color="dark" text-uppercase>
        <small>
          {{ mosaic.mosaicId.namespaceId }}
        </small>
      </p>
  
      <section item-right>
        <h2 text-right ion-text color="success" [hidden]="!mosaics"
          *ngIf="owner?.plain() == tx?.otherTransaction?.recipient.plain()">
          +{{ mosaic.amount?.toString() | number: '1.6-6' }}
        </h2>
  
        <h2 text-right ion-text color="danger" [hidden]="!mosaics"
          *ngIf="owner?.plain() != tx?.otherTransaction?.recipient.plain()">
          -{{ mosaic.amount?.toString() | number: '1.6-6' }}
        </h2>
  
        <p float-right ion-text color="dark">
          <small>{{ tx.otherTransaction.timeWindow.timeStamp.toString() | timeago }}</small>
        </p>
      </section>
    </ion-item>
  
    <ion-item transaction-status>
      <section item-left>
        <p float-left ion-text color="dark">
          <small>Multisig</small>
        </p>
      </section>
  
      <section item-right>
        <p float-right ion-text color="success" *ngIf="tx.isConfirmed()">
          <small>Confirmed</small>
        </p>
  
        <p float-right ion-text color="danger" *ngIf="!tx.isConfirmed()">
          <small>
  
            {{getStatus()}}
          </small>
        </p>
      </section>
    </ion-item>
  </ion-card-header>
</div>

