// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (primary: #005277,
secondary: #43BDB5,
trinary: #c1f5ec,
danger: #d41a1a,
light: #E4E6EE,
dark: #15485f,
black : #111111,
white: #FFFFFF,
bg: #EFEFEF,
grey: #666666,
success: #00735f,

darkgreen: #b2e1d9,
tabbgcolor: #17abda,
gothic: #708A9C,
puerto-rico-green: #43BDB5,


wallet-1: #001029,
wallet-2: #003849,
wallet-3: #00A48B,
wallet-4: #0ae0bc,
wallet-5: #055B41,
wallet-6: #16A93F,
wallet-7: #708A9C,
wallet-8: #a9c78f
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
.ios {
  ion-fab[fab-button-center] {
    button[gradient-button] {
      bottom: 7vh;
    }
  }
}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
.md {
  ion-fab[fab-button-center] {
    button[gradient-button] {
      bottom: 5vh;
    }
  }
}



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// color of placeholder for input[text]
$text-input-placeholder-color: lighten(color($colors, grey), 20%);

.ios,
.md {
  @import "dark/main";
}

// Fix for overlapping back button in status bar (iPhone XS above)
.ios {
  body {
    padding: env(safe-area-inset-top, 30px) env(safe-area-inset-right, 30px) env(safe-area-inset-bottom, 30px) env(safe-area-inset-left, 30px);
  }

}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";


ion-icon {
  &[class*="custom-"] {
    //mask-size: contain;
   // mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="tab-"] {
    //mask-size: contain;
   // mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.5em;
    height: 1.5em;
  }

  &[class*="custom-account"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-accounts-gray.svg);
  }
  &[class*="custom-notifications"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-notification-gray.svg);
  }
  &[class*="custom-services"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-services-gray.svg);
  }
  &[class*="custom-send"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-send-transfer-white.svg);
  }
  &[class*="custom-receive"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-receive-transfer-white.svg);
  }
  &[class*="custom-send-receive"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-transfer-assets-white.svg);
  }
  &[class*="custom-settings"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-settings-gray.svg);
  }
  &[class*="custom-address"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-address-book-gray.svg);
  }
  &[class*="custom-multisig"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-multisig-gray.svg);
  }
  &[class*="custom-faucet"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-faucet-gray.svg);
  }
  &[class*="custom-swap"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-swap-gray.svg);
  }
  &[class*="custom-gift"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-sirius-gift-green.svg);
  }
  &[class*="custom-guide"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-wallet-guide-green.svg);
  }
  &[class*="custom-nodes"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-node-gray.svg);
  }
  &[class*="custom-languaje"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-languages-gray.svg);
  }
  &[class*="custom-reset"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-recovery-pin-gray.svg);
  }
  &[class*="custom-logout"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-sign-out-gray.svg);
  }
  &[class*="custom-balance"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-balance-green.svg);
  }
  &[class*="custom-copy"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-copy-gray.svg);
  }
  &[class*="custom-export"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-export-gray.svg);
  }
  &[class*="custom-qrcode"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-qr-code-gray.svg);
  }
  &[class*="custom-pvkey"] {
    mask-image: url(../../../../assets/imgs/icon-wallet/icon-private-key-gray.svg);
  }
  
}


