<ion-header toolbar-background>
    <ion-toolbar color="transparent">
        <ion-buttons slot="start" white>
            <ion-back-button defaultHref="/wallets"></ion-back-button>
          </ion-buttons>
      <ion-title ><img src="assets/imgs/shell-proximax-white.svg" icon-add></ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size="12" text-center>
        <h3 white>Wallets</h3>
        <ion-card background-yellow>
          <ion-card-content white>
            <strong>{{this.wallet['name']}}</strong>
          </ion-card-content>
        </ion-card>
        <span white>{{this.wallet.address}}</span>
        <h1 *ngIf="this.wallet.amount" white>{{this.wallet.amount}} xpx</h1>
        <h1 *ngIf="!this.wallet.amount" white>0.000000 xpx</h1>


      </ion-col>
      <ion-col size="6" text-center>
        <button gradient-button color-1 ion-button icon-end type="submit" color="black" (click)="sendwallets()">
          Send
        </button>
      </ion-col>
      <ion-col size="6" text-center>
        <button gradient-button color-1 ion-button icon-end type="submit" color="black" (click)="recivedwallets()">
          Recive
        </button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" text-center>


        <!-- Segment with secondary color -->

        <ion-segment (ionChange)="segmentChanged($event)" color="dark" value="mosaics">
          <ion-segment-button value="mosaics">
            <ion-label>Mosaics</ion-label>
          </ion-segment-button>
          <ion-segment-button value="transaction">
            <ion-label>Transaction</ion-label>
          </ion-segment-button>
          <ion-segment-button value="information">
            <ion-label>Information</ion-label>
          </ion-segment-button>
        </ion-segment>


        <ion-row>
          <ion-col *ngIf="mosaics== true" size="12" text-center >
            <ion-card background-white (click)="mosaicswallets()">
                  <ion-item>
                      <ion-icon src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                      <ion-label>
                        XPX <br>
                         <p>Proximax</p>
                      </ion-label>
                      <!-- <ion-icon name="information-circle" size="large" slot="end"> </ion-icon> -->
                      <ion-label slot="end">
                          0.0087s XPX  <p>USD 80.00</p>
                      </ion-label>
                    </ion-item>
            </ion-card>
            <ion-card background-white>
                <ion-item>
                    <ion-icon src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                    <ion-label>
                      XPX <br>
                      <p>Proximax </p>
                    </ion-label>
                    <!-- <ion-icon name="information-circle" size="large" slot="end"> </ion-icon> -->
                    <ion-label slot="end">
                        0.0087s XPX <p>USD 80.00</p>
                    </ion-label>
                  </ion-item>
          </ion-card>
          <ion-card background-white>
              <ion-item>
                  <ion-icon src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                  <ion-label>
                    XPX <br>
                    <p>Proximax</p>
                  </ion-label>
                  <!-- <ion-icon name="information-circle" size="large" slot="end"> </ion-icon> -->
                  <ion-label slot="end">
                      0.0087s XPX <p>USD 80.00</p>
                  </ion-label>
                </ion-item>
        </ion-card>
          </ion-col>

          <ion-col *ngIf="transaction== true" size="12">
            <ion-card background-white>
                    <ion-item (click)="infoTransaction()">
                        <ion-icon size="10" src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                        <ion-label>
                          0.00980256 <br>
                          <p>Aplil 03,2019</p>
                        </ion-label>
                        <ion-icon src="assets/imgs/send-arrow-white.svg"> </ion-icon>
                        <ion-label slot="end">
                            Name Receiver  <p>Confirmed</p>
                        </ion-label>
                      </ion-item>

                      <ion-item >
                          <ion-icon size="10" src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                          <ion-label>
                            0.00980256 <br>
                            <p>Aplil 03,2019</p>
                          </ion-label>
                          <ion-icon src="assets/imgs/receive-arrow-white.svg"> </ion-icon>
                          <ion-label slot="end">
                              Name Receiver  <p>Confirmed</p>
                          </ion-label>
                        </ion-item>

                        <ion-item >
                            <ion-icon size="10" src="assets/imgs/shell-proximax-colour.svg" slot="start"></ion-icon>
                            <ion-label>
                              0.00980256 <br>
                              <p>Aplil 03,2019</p>
                            </ion-label>
                            <ion-icon src="assets/imgs/send-arrow-white.svg"> </ion-icon>
                            <ion-label slot="end">
                                Name Receiver  <p>Confirmed</p>
                            </ion-label>
                          </ion-item>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="information== true" size="12">
              <ion-card background-white>
              <ion-item>
                  <ion-label >
                    <span style="font-size: small;" > Public Key </span>
                    
                  </ion-label>
                  <ion-label slot="end" style="font-size: small;">
                      W0Pidh45jdgsvEjIOR6d12r45Ynkf5  
                  </ion-label>
                </ion-item>
              </ion-card>
              <ion-card background-white>
                  <ion-item>
                      <ion-label>
                        <span style="font-size: small;" >Importance Score</span>
                        
                      </ion-label>
                      <ion-label slot="end" style="font-size: small;">
                          0.0*10  
                      </ion-label>
                    </ion-item>
                  </ion-card>
                  <ion-card background-white>
                      <ion-item>
                          <ion-label >
                            <span style="font-size: small;" >Vested Balance</span>
                            
                          </ion-label>
                          <ion-label slot="end" style="font-size: small;" >
                              447.097865 XEM  
                          </ion-label>
                        </ion-item>
                      </ion-card>
                <!-- <ion-item>
                  <ion-label>
                    Large Icon End
                  </ion-label>
                  <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
                </ion-item>
                
                <ion-item>
                  <ion-label>
                    Small Icon End
                  </ion-label>
                  <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
                </ion-item>
                
                <ion-item>
                  <ion-icon name="star" slot="start"></ion-icon>
                  <ion-label>
                    Icon Start
                  </ion-label>
                </ion-item>
                
                <ion-item>
                  <ion-label>
                    Two Icons End
                  </ion-label>
                  <ion-icon name="checkmark-circle" slot="end"></ion-icon>
                  <ion-icon name="shuffle" slot="end"></ion-icon>
                </ion-item> -->
            <!-- <ion-card background-white>
              <ion-card-content>
                <strong text-left> Public key</strong>
                <p>W0Pidh45jdgsvEjIOR6d12r45Ynkf5</p>
              </ion-card-content>
            </ion-card>
            <ion-card background-white>
              <ion-card-content>
                <strong> Importance Score</strong>
                <p>0.0*10</p>
              </ion-card-content>
            </ion-card>
            <ion-card background-white>
              <ion-card-content>
                <strong> Vested Balance</strong>
                <p>447.0987 XEM</p>
              </ion-card-content>
            </ion-card> -->

            <ion-row>
              <ion-col size="12" text-center>
                <button gradient-button color-1 ion-button icon-end type="submit" color="black">
                  Export / Backup
                </button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" text-center>
                <button gradient-button color-1 ion-button icon-end type="submit" color="black">
                  Edit Wallet
                </button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" text-center>
                <button gradient-button color-1 ion-button icon-end type="submit" color="black">
                  Delete
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>