

<ion-content>
      <ion-grid background>
          <img src="assets/imgs/shell-proximax-white.svg" icon>
          <!-- [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)" -->
          <form >
              <ion-row>
                <ion-col buttons padding col-12 text-center>
                  <h3 white>Wallets</h3>
                  <ion-card>
                    <ion-card-content background-black-trans>
                      <div>
                        <img src="assets/imgs/create-add-new-white.svg" icon-add>
                        <h1 white>Create new wallet</h1>

                      </div>

                    </ion-card-content>
                  </ion-card>
                
                </ion-col>
              </ion-row>
            </form>
      </ion-grid>

</ion-content>
