<!-- 
  export class TransferTransaction {
    deadline: Deadline;
    maxFee: UInt64;
    message: Message;
    mosaics: Mosaic[];
    networkType: 168
    recipient: Address;
    signature: string;
    signer: PublicAccount;
    transactionInfo: TransactionInfo;
    type: number
    version: number
}
 -->
<ion-card-header reduce-transfer-tx-header>
  <ion-item>
    <img logo-small item-left [src]="LOGO" alt="logo">
    <h2 ion-text color="black">{{MOSAIC_INFO.mosaicId | uppercase }}</h2>
    <p ion-text color="black">
        <small>
          {{MOSAIC_INFO.namespaceId| uppercase }}
        </small>
      </p>

    <section item-right>

      <h2 text-right ion-text color="black" *ngIf="AMOUNT == 0">
        0
      </h2>

      <h2 text-right ion-text color="success" *ngIf="owner == tx?.recipient.plain() && AMOUNT !== 0">
        +{{ AMOUNT | number: '1.6-6' }}
      </h2>

      <h2 text-right ion-text color="danger" *ngIf="owner != tx?.recipient.plain()  && AMOUNT !== 0">
         -{{ AMOUNT | number: '1.6-6' }}
      </h2>

      <p text-right  ion-text color="black">
          <small>
            {{ tx.deadline.value.toString() | timeago }}
          </small>
        </p>
    </section>
  </ion-item>

  <ion-item transaction-status>
    <section item-left>
      <p float-left ion-text color="black">
        <small>Transfer</small>
      </p>
    </section>

    <section item-right *ngIf="STATUS=='Confirmed'">
      <p float-right ion-text color="success">
        <small>{{STATUS}}</small>
      </p>
    </section>

    <section item-right *ngIf="STATUS=='Unconfirmed'">
      <p float-right ion-text color="danger">
        <small>{{STATUS}}</small>
      </p>
    </section>

  </ion-item>
</ion-card-header>


<!-- <div *ngIf="tx.containsMosaics()">
  <ion-card-header reduce-transfer-tx-header *ngFor="let mosaic of tx.mosaics()">
    <ion-item>
      <img logo-small item-left [src]="utils.getLogo(mosaic)">
      <h2 ion-text text-uppercase color="black">{{ mosaic?.mosaicId.name }}</h2>
      <p ion-text text-uppercase color="black">
          <small>
            {{ mosaic?.mosaicId.namespaceId }}
          </small>
        </p>
  
      <section item-right>
        <h2 text-right ion-text color="success"  *ngIf="owner?.plain() == tx?.recipient.value">
          +{{ mosaic?.quantity / getDivisibility(mosaic?.mosaicId.name) | number: '1.6-6' }}
        </h2>
  
        <h2 text-right ion-text color="danger"  *ngIf="owner?.plain() != tx?.recipient.value">
          -{{ mosaic?.quantity / getDivisibility(mosaic?.mosaicId.name) | number: '1.6-6' }}
        </h2>
  
        <p text-right ion-text color="black">
            <small>
              {{ tx.timeWindow.timeStamp.toString() | timeago }}
            </small>
          </p>
      </section>
    </ion-item>  

    <ion-item transaction-status>
      <section item-left>
        <p float-left ion-text color="black">
          <small>Normal</small>
        </p>
      </section>
  
      <section item-right>
        <p float-right ion-text color="success" *ngIf="tx.isConfirmed()">
          <small>Confirmed</small>
        </p>
  
        <p float-right ion-text color="danger" *ngIf="!tx.isConfirmed()">
          <small>
  
            Unconfirmed
          </small>
        </p>
      </section>
    </ion-item>
  </ion-card-header>
</div> -->
