<!--
  Generated template for the TransactionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>
      <span ion-text color="dark">{{"WALLETS.TRANSACTION.DETAIL.TITLE" | translate}}</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content background>
  <ion-list transparent-items *ngIf="tx">

    <!-- if transfer  -->
    <transfer-detail *ngIf="tx?.type === TransactionType.TRANSFER" [tx]="tx" [mosaics]="mosaics"
      [owner]="selectedAccount?.address?.plain()"></transfer-detail>
    <transfer-detail *ngIf="tx?.type === TransactionType.AGGREGATE_BONDED" [tx]="tx" [mosaics]="mosaics"
      [owner]="selectedAccount?.address?.plain()"></transfer-detail>

    <!-- if importance transfer -->
    <!-- <importance-transfer-detail *ngIf="tx.type == TransactionTypes.IMPORTANCE_TRANSFER" [tx]="tx"></importance-transfer-detail> -->

    <!-- if mosaic definition -->
    <!-- <mosaic-definition-detail *ngIf="tx.type == TransactionTypes.MOSAIC_DEFINITION" [tx]="tx"></mosaic-definition-detail> -->

    <!-- if mosaic supply change -->
    <!-- <mosaic-supply-change-detail *ngIf="tx.type == TransactionTypes.MOSAIC_SUPPLY_CHANGE" [tx]="tx"></mosaic-supply-change-detail> -->

    <!-- if multisig transaction  -->
    <!-- <multisig-detail *ngIf="tx.type == TransactionTypes.MULTISIG" [tx]="tx"></multisig-detail> -->

    <!-- if multisig aggregate modification  -->
    <!-- <multisig-aggregate-modification-detail *ngIf="tx.type == TransactionTypes.MULTISIG_AGGREGATE_MODIFICATION" [tx]="tx"></multisig-aggregate-modification-detail> -->

    <!-- if provision namespace  -->
    <!-- <provision-namespace-detail *ngIf="tx.type == TransactionTypes.PROVISION_NAMESPACE" [tx]="tx"></provision-namespace-detail> -->


  </ion-list>

</ion-content>

<ion-footer no-border *ngIf="tx.type === TransactionType.AGGREGATE_BONDED" [hidden]="!this.isSelectedAccountMultisig && (!!this.currentAccount && toShowCosign(tx))">
  
  <form [formGroup]="form">
    <ion-item transparent padding>
      <ion-label stacked>{{"APP.COMMON.PASSWROD" | translate}}</ion-label>
      <ion-input formControlName="password" [type]="passwordType"
        placeholder="{{'APP.COMMON.PASSWROD.PLACEHOLDER' | translate}}"></ion-input>

      <button type="button" (click)="showHidePassword($event)" clear item-right ion-button icon-only>
        <ion-icon item-right color="dark" [name]="passwordIcon">
        </ion-icon>
      </button>
    </ion-item>
  </form>
  <button gradient-button quarter-width color-5 medium  [disabled]="form.invalid" (click)="cosign(tx)">
    {{"TRANSACTION_DETAIL.COSIGN" | translate}}
  </button>
</ion-footer>