<!--
  Generated template for the WalletAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>
<ion-content fullscreen background padding>
  <ion-grid *ngIf="!tablet">
    <ion-row>
      <ion-col col-12 text-center>
        <h3 ion-text color="dark">{{"WALLETS.CREATE.NEW.TITLE" | translate}}</h3>
        <p ion-text color="dark">
            {{"WALLETS.CREATE.NEW.DESC" | translate}}
        </p>
      </ion-col>

      <ion-col>
        <div class="wallet">
          <div class="wallet-content" [ngClass]="walletColor" text-center>
            <img class="wallet-front-logo wallet-logo" src="assets/imgs/sirius-wallet-white.png">
            <p class="wallet-number">TDDG3UDZBGZUIOCDCOPT45NB7C7VJMPMMNWVO4MH</p>
            <div class="wallet-space-75">
              <span class="wallet-label">{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</span>
              <p class="wallet-info">{{walletName}}</p>
            </div>
            <div class="wallet-space-25">
              <span class="wallet-label">{{"WALLETS.BALANCE" | translate}}</span>
              <p class="wallet-info">$0.00 USD</p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 text-center>
        <br>
        <h3 ion-text color="dark">{{"WALLETS.COMMON.CHOOSE_COLOR" | translate}}</h3>
      </ion-col>
      <ion-col text-center>
        <div class="color-palette">
          <div class="color-box ">
            <!-- <div class="color" style="background:#1f6b86;"></div> -->
            <button one (click)="changeWalletColor('wallet-1')"></button>
          </div>
          <div class="color-box">
            <!-- <div class="color" style="background:#5c9ebb;"></div> -->
            <button two (click)="changeWalletColor('wallet-2')"></button>
          </div>
          
          <div class="color-box ">
            <!-- <div class="color" style="background:#c6f8ff;"></div> -->
            <button three (click)="changeWalletColor('wallet-3')"></button>
          </div>

          <div class="color-box">
            <!-- <div class="color" style="background:#f2962f;"></div> -->
            <button four (click)="changeWalletColor('wallet-4')"></button>
          </div>

        </div>
      </ion-col>
      <ion-col col-12>
      </ion-col>
      <ion-col text-center>
        <div class="color-palette">
          <div class="color-box ">
            <!-- <div class="color" style="background:#1f6b86;"></div> -->
            <button five (click)="changeWalletColor('wallet-5')"></button>
          </div>
          <div class="color-box">
            <!-- <div class="color" style="background:#5c9ebb;"></div> -->
            <button six (click)="changeWalletColor('wallet-6')"></button>
          </div>
          <div class="color-box">
            <!-- <div class="color" style="background:#f2962f;"></div> -->
            <button seven (click)="changeWalletColor('wallet-7')"></button>
          </div>
          <div class="color-box ">
            <!-- <div class="color" style="background:#c6f8ff;"></div> -->
            <button eight (click)="changeWalletColor('wallet-8')"></button>
          </div>

        </div>
      </ion-col>

      <ion-col buttons padding col-12 text-center>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
          <ion-item transparent padding>
            <ion-label stacked>{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</ion-label>
            <ion-input formControlName="name" type="text" autocapitalize="none" placeholder="{{'WALLETS.COMMON.PLACEHOLDER.WALLET_NAME' | translate}}" (input)="updateName()">
            </ion-input>
          </ion-item>
          <br>
          <br>


          <button gradient-button color-5 ion-button no-margin [disabled]="formGroup.invalid" type="submit"
            color="dark">
            {{"WALLETS.BUTTON.CONTINUE" | translate}}
          </button>


        </form>
      </ion-col>

      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tablet">
      <ion-row>
          <ion-col col-12 text-center>
            <h3 ion-text color="dark">{{"WALLETS.CREATE.NEW.TITLE" | translate}}</h3>
            <p ion-text color="dark">
                {{"WALLETS.CREATE.NEW.DESC" | translate}}
            </p>
          </ion-col>
    
          <ion-col>
            <div class="wallet">
              <div class="wallet-content" [ngClass]="walletColor" text-center>
                <img class="wallet-front-logo wallet-logo" src="assets/imgs/sirius-wallet-white.png">
                <p class="wallet-number">TDDG3UDZBGZUIOCDCOPT45NB7C7VJMPMMNWVO4MH</p>
                <div class="wallet-space-75">
                  <span class="wallet-label">{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</span>
                  <p class="wallet-info">{{walletName}}</p>
                </div>
                <div class="wallet-space-25">
                  <span class="wallet-label">{{"WALLETS.BALANCE" | translate}}</span>
                  <p class="wallet-info">$0.00 USD</p>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col col-12 ><br>
          </ion-col>
          <ion-col col-12 text-center>
            <br>
            <h3 ion-text color="dark">{{"WALLETS.COMMON.CHOOSE_COLOR" | translate}}</h3>
          </ion-col>
          <ion-col text-center>
            <div class="color-palette">
              <div class="color-box ">
                <!-- <div class="color" style="background:#1f6b86;"></div> -->
                <button one (click)="changeWalletColor('wallet-1')"></button>
              </div>
              <div class="color-box">
                <!-- <div class="color" style="background:#5c9ebb;"></div> -->
                <button two (click)="changeWalletColor('wallet-2')"></button>
              </div>
              
              <div class="color-box ">
                <!-- <div class="color" style="background:#c6f8ff;"></div> -->
                <button three (click)="changeWalletColor('wallet-3')"></button>
              </div>
    
              <div class="color-box">
                <!-- <div class="color" style="background:#f2962f;"></div> -->
                <button four (click)="changeWalletColor('wallet-4')"></button>
              </div>
    
              <div class="color-box ">
                <!-- <div class="color" style="background:#1f6b86;"></div> -->
                <button five (click)="changeWalletColor('wallet-5')"></button>
              </div>
              <div class="color-box">
                <!-- <div class="color" style="background:#5c9ebb;"></div> -->
                <button six (click)="changeWalletColor('wallet-6')"></button>
              </div>
              <div class="color-box">
                <!-- <div class="color" style="background:#f2962f;"></div> -->
                <button seven (click)="changeWalletColor('wallet-7')"></button>
              </div>
              <div class="color-box ">
                <!-- <div class="color" style="background:#c6f8ff;"></div> -->
                <button eight (click)="changeWalletColor('wallet-8')"></button>
              </div>
    
            </div>
          </ion-col>
    
          <ion-col buttons padding col-12 text-center>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
              <ion-item transparent padding>
                <ion-label stacked>{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</ion-label>
                <ion-input formControlName="name" type="text" autocapitalize="none" placeholder="{{'WALLETS.COMMON.PLACEHOLDER.WALLET_NAME' | translate}}" (input)="updateName()">
                </ion-input>
              </ion-item>
              <br>
              <br>
    
    
              <button gradient-button color-5 ion-button no-margin [disabled]="formGroup.invalid" type="submit"
                color="dark">
                {{"WALLETS.BUTTON.CONTINUE" | translate}}
              </button>
    
    
            </form>
          </ion-col>
    
          <ion-col col-12></ion-col>
          <ion-col col-12></ion-col>
          <ion-col col-12></ion-col>
        </ion-row>
  </ion-grid>

</ion-content>