<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>
<ion-content fullscreen background padding>
  <ion-grid *ngIf="!tablet">
    <ion-row>
      <ion-col col-12 text-center>
        <h3 ion-text color="dark">{{"WALLETS.CREATE.NEW.TITLE" | translate}}</h3>
      </ion-col>

      <ion-col>
      <div class="wallet">
        <div class="wallet-content" [ngClass]="walletColor" >
          <img class="wallet-front-logo wallet-logo" src="assets/imgs/logo-two4one-mobile-wallet.svg">
          <!-- <p class="wallet-text ">{{ "APP.HOME-1" | translate }} <br> {{ "APP.HOME-2" | translate }}</p> -->

          <div *ngIf="!tablet">
            <p class="wallet-number">{{ exampleAccount }}</p>
          </div>

          <div class="wallet-label" style="font-size: 14px !important;">
            <span class="wallet-label"><strong>{{"WALLETS.ACCOUNT" | translate}}:</strong></span>
            {{ "WALLETS.ACCOUNT" | translate}}
          </div>
          <div *ngIf="!tablet" class="wallet-label">
            <span class="wallet-label"><strong>XPX {{"WALLETS.BALANCE" | translate}}:</strong></span>
            <span class="wallet-space-25">0</span>
          </div>
          <div *ngIf="!tablet" class="wallet-label">
            <span class="wallet-label"><strong>US$:</strong></span>
            <span class="wallet-space-25">0</span>
            <br>
          </div>
        </div>
      </div>
    </ion-col>
      <!-- <ion-col>
        <div class="wallet">
          <div class="wallet-content" [ngClass]="walletColor" text-center>
            <img class="wallet-front-logo wallet-logo" src="assets/imgs/logo-two4one-mobile-wallet.svg">
            \<p class="wallet-text-new"> {{ "APP.HOME-1" | translate }} <br> {{ "APP.HOME-2" | translate }}</p>
            <p class="wallet-number"> {{ exampleAccount }} </p>
            <div class="wallet-label" style="text-align: start !important;">
              <span class="wallet-label"><strong>{{"WALLETS.ACCOUNT" | translate}}:</strong></span>
              {{ walletName}}
            </div>
          </div>
        </div>
      </ion-col> -->
      <ion-col col-12 text-center>
        <br>
        <h3 ion-text color="dark">{{"WALLETS.COMMON.CHOOSE_COLOR" | translate}}</h3>
      </ion-col>
      <ion-col text-center>
        <div class="color-palette">
          <div class="color-box ">
            <button one (click)="changeWalletColor('wallet-1')"></button>
          </div>
          <div class="color-box">
            <button two (click)="changeWalletColor('wallet-2')"></button>
          </div>
          <div class="color-box ">
            <button three (click)="changeWalletColor('wallet-3')"></button>
          </div>
        </div>
      </ion-col>

      <ion-col buttons padding col-12 text-center>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
          <ion-item transparent padding>
            <ion-label stacked>{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</ion-label>
            <ion-input formControlName="name" type="text" autocapitalize="none"
              placeholder="{{'WALLETS.COMMON.PLACEHOLDER.WALLET_NAME' | translate}}" (input)="updateName()"
              (ionChange)="minName()">
            </ion-input>
          </ion-item>
          <div>
            <p error padding-left text-left style="color: #e06e36 !important; margin-top: -4px!important;">
              <strong
                *ngIf='nameMin'>{{('APP.SIGNUP.PASSWORD_MIN.MESSAGE' | translate: {Min: configurationForm.nameWallet.minLength })}}</strong>
              <strong
                *ngIf='nameMax'>{{('APP.SIGNUP.PASSWORD_MAX.MESSAGE' | translate: {Max: configurationForm.nameWallet.maxLength })}}</strong>
            </p>
          </div>
          <ion-item transparent padding>
            <ion-label stacked>{{"APP.COMMON.PASSWROD" | translate}}</ion-label>
            <ion-input formControlName="password" [type]="passwordType"
              placeholder="{{'APP.COMMON.PASSWROD.PLACEHOLDER' | translate}}"></ion-input>

            <button type="button" (click)="showHidePassword($event)" clear item-right ion-button icon-only>
              <ion-icon item-right color="dark" [name]="passwordIcon">
              </ion-icon>
            </button>
          </ion-item>
          <br>
          <br>
          <button gradient-button color-11 ion-button no-margin [disabled]="formGroup.invalid" type="submit"
            color="dark">
            {{"WALLETS.BUTTON.CONTINUE" | translate}}
          </button>
        </form>
      </ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="tablet">
    <ion-row>
      <ion-col col-12 text-center>
        <h3 ion-text color="dark">{{"WALLETS.CREATE.NEW.TITLE" | translate}}</h3>
      </ion-col>
      <ion-col>
        <div class="wallet">
          <div class="wallet-content" [ngClass]="walletColor" text-center>
            <img class="wallet-front-logo wallet-logo" src="assets/imgs/logo-proximax-sirius-wallet-white.svg">
            <p class="wallet-number" style="font-size: 18px !important;"> {{ exampleAccount }}</p>
            <div class="wallet-label" style="text-align: start !important; font-size: 18px !important;">
              <span class="wallet-label"><strong>{{"WALLETS.ACCOUNT" | translate}}:</strong></span>
              {{ walletName}}
            </div>

          </div>
        </div>
      </ion-col>
      <ion-col col-12 text-center>
        <br>
        <h3 ion-text color="dark">{{"WALLETS.COMMON.CHOOSE_COLOR" | translate}}</h3>
      </ion-col>
      <ion-col text-center>
        <div class="color-palette">
          <div class="color-box ">
            <button one (click)="changeWalletColor('wallet-1')"></button>
          </div>
          <div class="color-box">
            <button two (click)="changeWalletColor('wallet-2')"></button>
          </div>

          <div class="color-box ">
            <button three (click)="changeWalletColor('wallet-3')"></button>
          </div>
        </div>
      </ion-col>
      <ion-col buttons padding col-12 text-center>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
          <ion-item transparent padding>
            <ion-label stacked>{{"WALLETS.COMMON.LABEL.WALLET_NAME" | translate}}</ion-label>
            <ion-input formControlName="name" type="text" autocapitalize="none"
              placeholder="{{'WALLETS.COMMON.PLACEHOLDER.WALLET_NAME' | translate}}" (input)="updateName()"
              (ionChange)="minName()">
            </ion-input>
          </ion-item>
          <div>
            <p error padding-left text-left style="color: #e06e36 !important; margin-top: -4px!important;">
              <strong
                *ngIf='nameMin'>{{('APP.SIGNUP.PASSWORD_MIN.MESSAGE' | translate: {Min: configurationForm.nameWallet.minLength })}}</strong>
              <strong
                *ngIf='nameMax'>{{('APP.SIGNUP.PASSWORD_MAX.MESSAGE' | translate: {Max: configurationForm.nameWallet.maxLength })}}</strong>
            </p>
          </div>
          <ion-item transparent padding>
            <ion-label stacked>{{"APP.COMMON.PASSWROD" | translate}}</ion-label>
            <ion-input formControlName="password" [type]="passwordType"
              placeholder="{{'APP.COMMON.PASSWROD.PLACEHOLDER' | translate}}"></ion-input>
            <button type="button" (click)="showHidePassword($event)" clear item-right ion-button icon-only>
              <ion-icon item-right color="dark" [name]="passwordIcon">
              </ion-icon>
            </button>
          </ion-item>
          <br>
          <br>
          <button gradient-button color-11 ion-button no-margin [disabled]="formGroup.invalid" type="submit"
            color="dark">
            {{"WALLETS.BUTTON.CONTINUE" | translate}}
          </button>
        </form>
      </ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
      <ion-col col-12></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>