<ion-header toolbar-background>
  <ion-toolbar color="transparent" [class.show-background]="showToolbar">
    <ion-buttons slot="start" white>
      <ion-back-button defaultHref="/wallet-create"></ion-back-button>
    </ion-buttons>
    <ion-title class="center"><img src="assets/imgs/shield-proximax-white.svg" icon-add [routerLink]="['/wallets']" routerDirection="root"></ion-title>
      <ion-buttons slot="end">
        <ion-button>
            <img slot="icon-only" src="assets/imgs/user-account-white.png" [routerLink]="['/account']" routerDirection="root">
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" text-center>
        <h3 white>Congratulations</h3>
        <p *ngIf="import !== true " white>Your wallet has created successfully.</p>
        <p *ngIf="import === true " white>Your wallet has been imported successfully.</p>
      </ion-col>
      <ion-col>
        <ion-card background-white>
          <ion-card-content>
            <form action="">
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating">Address</ion-label>
                    <ion-textarea style="font-size: 13px;" rows="2" type="text" readonly [value]="address">
                    </ion-textarea>
                    <ion-icon ios="ios-clipboard" md="md-clipboard" (click)="copyMessage(address, 'Address')"
                      slot="end"></ion-icon>
                  </ion-item>
                  <ion-item *ngIf='show'>
                    <ion-label position="floating">Private Key</ion-label>
                    <ion-textarea style="font-size: 13px;" type="text" rows="3" readonly [value]="privatekey">
                    </ion-textarea>
                    <ion-icon ios="ios-clipboard" md="md-clipboard" (click)="copyMessage(privatekey, 'Private Key')"
                      slot="end"></ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <button *ngIf="!show" gradient-button color-1 ion-button icon-end type="submit" color="black"
          (click)="showPrivateKey()">
          Show your private key
        </button>
        <button *ngIf="show" gradient-button color-1 ion-button icon-end type="submit" color="black"
          (click)="showPrivateKey()">
          Hide your private key
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" text-center>
            <button gradient-button color-3 ion-button icon-end type="submit" color="black"
            (click)="cancel()">
            Cancel
          </button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>