<ion-header >
    <ion-toolbar color="transparent" [class.show-background]="showToolbar">
      <ion-buttons slot="start" white>
          <ion-menu-button white class="ios button ion-activatable hydrated"></ion-menu-button>
      </ion-buttons>
      <ion-title class="center"><img src="assets/imgs/shield-proximax-white.svg" icon-add [routerLink]="['/wallets']" routerDirection="root"></ion-title>
      <ion-buttons slot="end">
        <ion-button>
            <img slot="icon-only" src="assets/imgs/user-account-white.png" [routerLink]="['/account']" routerDirection="root">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col text-center size="12">
          <h3 white >Accounts</h3>
          <ion-card background-white>
          <ion-card-content >
              <img slot="icon-only" src="assets/imgs/user-account-blue.png"  icon-addreess>
            <h3 color-4><strong>hachibi</strong></h3>
            <span  color-4>Luis Isturiz</span>
          </ion-card-content>
        </ion-card>

        </ion-col>

        <ion-col text-center size="12">
            <ion-card background-white>
              <ion-card-content>
              <ion-badge slot="start" color="warning">.</ion-badge>
              <span  color-4><strong>You have notifications unread</strong></span>
            </ion-card-content>
          </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col  text-center>
              <button gradient-button color-1 ion-button icon-end  type="submit"
                color="black">
                Edit User
              </button>
            </ion-col>
            <ion-col  text-center>
                <button gradient-button color-3 ion-button icon-end type="submit"
                  color="black">
                  Sing Out
                </button>
              </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>