.card {
  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11),
  // 0 1px 1px -1px rgba(0, 0, 0, 0.1),
  // 0 1px 0 0 rgba(0, 0, 0, 0.1)

  background: #F9F9F9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

[no-border] {
  box-shadow: none;
  background: transparent;
}
