ion-alert.alert-md,
ion-alert.alert-ios {
  .alert-title,
  .alert-sub-title,
  .alert-radio-label,
  .alert-message,
  .alert-button-group .alert-button .button-inner {
    color: color($colors, dark);
  }

  [aria-checked='true'] .alert-radio-icon,
  .alert-radio-icon {
    border-color: color($colors, dark);
  }

  .alert-radio-group {
    border-color: transparentize(color($colors, dark), 0.9);
  }
}

ion-alert.alert-md {
  .alert-radio-inner { background: color($colors, dark); }
}

ion-alert.alert-ios {
  [aria-checked=true] .alert-radio-inner { border-color: color($colors, dark); }
  .alert-button.activated {
    background: transparentize(color($colors, dark), 0.8);
  }
}
