ion-tabs {
  &,
  .tabbar {
    background: color($colors, white);
    border-top: 0;
    bottom: -7px !important;
    box-shadow: 0px -1px 10px #E6E6E6;
    opacity: 1 !important;

    .tab-button[aria-selected='true'] {
      border-top-color: darken(color($colors, primary), 10%) !important;
      border-top-width: 2px;
      border-top-style: outset;
      opacity: 1 !important;

      &,
      .tab-button-icon {
        color: color($colors, primary) !important;
        font-style: bold;
        font-weight: 600;
        opacity: 1 !important;
      }
    }

    .tab-button {
      min-height: 6.6rem;
      opacity: 1 !important;

      &,
      .tab-button-icon {
        color: color($colors, gothic);
      }
    }
  }
}

.fab-md-in-list {
  color: #ffffff;
}

ion-fab[fab-button-center] {
  button[gradient-button] {
    height:40px;
    width: 40px;
    margin: 1px;
    margin-left: 5px;
  
  }

  z-index: 999 !important;
}


.ion-page {
  z-index: 1000 !important;
}
