page-receive {
  [amount] {
    ion-label {
      margin: 8px 0;
    }

    input {
      display: block;
      width: 100%;
      font-size: 2.2rem;
      font-family: $font-family-base;

      background: transparent;
      border: 0;
      color: transparent;
      text-shadow: 0 0 0 color($colors, dark);
      text-align: center !important;

      &:focus,
      &:active {
        outline: 0;
      }
    }
  }
}
