<ion-header toolbar-background>
  <ion-toolbar color="transparent" [class.show-background]="showToolbar">
    <ion-buttons slot="start" white>
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title class="center"><img src="assets/imgs/shield-proximax-white.svg" icon-add></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="icon-only" src="assets/imgs/user-account-white.png" [routerLink]="['/account']"
          routerDirection="root">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center size="12">
        <h3 white>Accounts</h3>
        <form [formGroup]="formEditUser" (ngSubmit)="onEditar(formEditUser.value)">
        <ion-card background-white>
          <ion-card-content>
            <img slot="icon-only" src="assets/imgs/user-account-green.svg" icon-editEuser>
            <h3 color-4><strong>Edit</strong></h3>

            <ion-item>
              <ion-input type="text" readonly formControlName="firstname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" readonly formControlName="lastname"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card background-white>
          <ion-card-content>

            <ion-item>
              <ion-input type="text" readonly formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="oldpassword" placeholder="Enter old password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="newpassword" placeholder="Enter new password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="confirmnewpassword" placeholder="Confirm your new password">
              </ion-input>
            </ion-item>


          </ion-card-content>
        </ion-card>

        <ion-col text-center>
          <button gradient-button color-1 ion-button icon-end type="submit" color="black">
            Edit User
          </button>
        </ion-col>
        </form>
      </ion-col>

      <ion-col text-center>
        <button gradient-button color-3 ion-button icon-end type="submit" color="black" [routerLink]="['/account']"
          routerDirection="root">
          Cancel
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>